# Datos de reportes mineros consolidados y guardados en base de datos

Se nos presentan los datos de reportes de producción minera en archivos csv, los cuales debemos trabajar mediante ETL para cargarlos a una base de datos

## Importamos las librerías

In [124]:
import pandas as pd
from numpy import nan
import sqlalchemy
import psycopg2

## 1. Extract

Realizamos la extracción de datos desde los archivos csv.
También deberemos analizar la composición de los datos obtenidos.

In [125]:
df_datos = pd.read_csv(filepath_or_buffer="C:/Users/franc/Desktop/proyecto/Sistema_De_Reportes/archivos/nuevos/20062023.csv", sep=";",encoding='latin-1')
#df_datos = pd.read_csv(filepath_or_buffer="C:/Users/franc/Desktop/proyecto/Sistema_De_Reportes/archivos/nuevos/DatosEjemploDiciembre2.csv", sep=";",encoding='latin-1')

In [126]:
df_datos

,Fecha,Carguio,CamiÃ³n,Flota,Material,Origen,Zona,Destino,Tonelaje,Ciclos,Rajo
0,20-06-2023,CF2,C121,CAT 793 C,Sulfuro de Media,STOCK_SME,ESPERANZA,CHANCADO-SULFURO,"1735,680054",8,ESPERANZA
1,20-06-2023,CF2,C123,CAT 793 C,Sulfuro de Media,STOCK_SME,ESPERANZA,CHANCADO-SULFURO,"2386,560104",11,ESPERANZA
2,20-06-2023,CF2,C125,CAT 793 C,Sulfuro Planta,STOCK_SPL_DIN,ESPERANZA,CHANCADO-SULFURO,"1084,800049",5,ESPERANZA
3,20-06-2023,CF2,C128,CAT 793 C,Sulfuro de Media,STOCK_SME,ESPERANZA,CHANCADO-SULFURO,"1735,680054",8,ESPERANZA
4,20-06-2023,CF2,C14,CAT 797 B,Sulfuro de Media,STOCK_SME,ESPERANZA,CHANCADO-SULFURO,"1039,211975",3,ESPERANZA
...,...,...,...,...,...,...,...,...,...,...,...
509,20-06-2023,PATH01,C793OXE,CAT 793 OXE,OXIDO BAJA LEY (OXBL),OXE/F04/2144/416,FASE 04 ENC,MOD D,3080,14,ENCUENTRO
510,20-06-2023,PATH01,C793OXE,CAT 793 OXE,OXIDO BAJA LEY (OXBL),OXE/F04/2144/416,FASE 04 ENC,MOD E,4180,19,ENCUENTRO
511,20-06-2023,PATH01,C793OXE,CAT 793 OXE,OXIDO MARGINAL (OXMAR),OXE/F04/2144/410,FASE 04 ENC,CHANCADO-ENCUENTRO,220,1,ENCUENTRO
512,20-06-2023,PATH01,C793OXE,CAT 793 OXE,OXIDO MARGINAL (OXMAR),OXE/F04/2144/410,FASE 04 ENC,STOCK _MARGINAL_ESTE,15180,69,ENCUENTRO
513,20-06-2023,PATH01,C930OXE,KOM 930OXE,L21,04_2376_455,FASE 04 ENC,BOT_2440,32190,111,ENCUENTRO

## 2. Transform

Separamos los datos por columnnas

In [127]:
colsDatos = ['fecha', 'carguio', 'camion', 'flota', 'material', 'origen', 'zona', 'destino', 'tonelaje', 'ciclos', 'rajo']
df_datos.columns = colsDatos

Obtenemos los tipos de datos para el dataframe

In [128]:
df_datos.dtypes

fecha       object
carguio     object
camion      object
flota       object
material    object
origen      object
zona        object
destino     object
tonelaje    object
ciclos       int64
rajo        object
dtype: object

Buscamos la cantidad de datos en el dataframe

In [129]:
df_datos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 514 entries, 0 to 513
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   fecha     514 non-null    object
 1   carguio   514 non-null    object
 2   camion    514 non-null    object
 3   flota     514 non-null    object
 4   material  514 non-null    object
 5   origen    514 non-null    object
 6   zona      514 non-null    object
 7   destino   514 non-null    object
 8   tonelaje  514 non-null    object
 9   ciclos    514 non-null    int64
 10  rajo      514 non-null    object
dtypes: int64(1), object(10)
memory usage: 44.3+ KB

Sumamos los datos nulos

In [130]:
df_datos.isnull().sum()

fecha       0
carguio     0
camion      0
flota       0
material    0
origen      0
zona        0
destino     0
tonelaje    0
ciclos      0
rajo        0
dtype: int64

Al no haber datos nulos en el dataframe se continua, de haber nulos se procederá a eliminarlos

### Formateo de datos

La mezcla de mayúsculas y minúsculas (camel case) suele dar problemas, por lo que decidimos pasar los valores de la columna material a minúscula

In [131]:
df_datos["material"] = df_datos["material"].str.lower()
df_datos

,fecha,carguio,camion,flota,material,origen,zona,destino,tonelaje,ciclos,rajo
0,20-06-2023,CF2,C121,CAT 793 C,sulfuro de media,STOCK_SME,ESPERANZA,CHANCADO-SULFURO,"1735,680054",8,ESPERANZA
1,20-06-2023,CF2,C123,CAT 793 C,sulfuro de media,STOCK_SME,ESPERANZA,CHANCADO-SULFURO,"2386,560104",11,ESPERANZA
2,20-06-2023,CF2,C125,CAT 793 C,sulfuro planta,STOCK_SPL_DIN,ESPERANZA,CHANCADO-SULFURO,"1084,800049",5,ESPERANZA
3,20-06-2023,CF2,C128,CAT 793 C,sulfuro de media,STOCK_SME,ESPERANZA,CHANCADO-SULFURO,"1735,680054",8,ESPERANZA
4,20-06-2023,CF2,C14,CAT 797 B,sulfuro de media,STOCK_SME,ESPERANZA,CHANCADO-SULFURO,"1039,211975",3,ESPERANZA
...,...,...,...,...,...,...,...,...,...,...,...
509,20-06-2023,PATH01,C793OXE,CAT 793 OXE,oxido baja ley (oxbl),OXE/F04/2144/416,FASE 04 ENC,MOD D,3080,14,ENCUENTRO
510,20-06-2023,PATH01,C793OXE,CAT 793 OXE,oxido baja ley (oxbl),OXE/F04/2144/416,FASE 04 ENC,MOD E,4180,19,ENCUENTRO
511,20-06-2023,PATH01,C793OXE,CAT 793 OXE,oxido marginal (oxmar),OXE/F04/2144/410,FASE 04 ENC,CHANCADO-ENCUENTRO,220,1,ENCUENTRO
512,20-06-2023,PATH01,C793OXE,CAT 793 OXE,oxido marginal (oxmar),OXE/F04/2144/410,FASE 04 ENC,STOCK _MARGINAL_ESTE,15180,69,ENCUENTRO
513,20-06-2023,PATH01,C930OXE,KOM 930OXE,l21,04_2376_455,FASE 04 ENC,BOT_2440,32190,111,ENCUENTRO

Notamos que podemos cambiar el tipo de tonelaje desde objtect a float, para ello primero debemos reemplazar las "comas" por "puntos"

In [132]:
df_datos['tonelaje'] = df_datos['tonelaje'].str.replace(',', '.') #separamos correctamente los datos
df_datos = df_datos.astype({'tonelaje': 'float64'})
df_datos.dtypes

fecha        object
carguio      object
camion       object
flota        object
material     object
origen       object
zona         object
destino      object
tonelaje    float64
ciclos        int64
rajo         object
dtype: object

Notamos que también podemos cambiar el formato a las fechas

In [133]:
df_datos['fecha'] = df_datos['fecha'].str.replace('/', '-') #separamos correctamente los datos
df_datos['fecha'] = pd.to_datetime(df_datos['fecha'])
df_datos.dtypes

c:\Users\franc\anaconda3\lib\site-packages\pandas\core\tools\datetimes.py:1047: UserWarning: Parsing '20-06-2023' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)

fecha       datetime64[ns]
carguio             object
camion              object
flota               object
material            object
origen              object
zona                object
destino             object
tonelaje           float64
ciclos               int64
rajo                object
dtype: object

## 3. Load

A continuación cargamos nuestros dataframes a una base de datos en PostgreSQL

Para ello crearemos dataframes que se adapten a nuestras tablas de SQL

In [134]:
colsFlota = ['nombre_flota'] #creamos las columnas
colsCamion = ['flota', 'id_camion']
colsRajo = ['nombre_rajo']
colsFase = ['rajo', 'id_fase', 'estado']
colsExtraccion = ['fecha', 'flota', 'camion', 'material', 'origen', 'destino', 'tonelaje', 'ciclos', 'rajo', 'fase']

In [135]:
df_flota = pd.DataFrame(columns=colsFlota) #creamos los dataframes
df_camion = pd.DataFrame(columns=colsCamion)
df_rajo = pd.DataFrame(columns=colsRajo)
df_fase = pd.DataFrame(columns=colsFase)
df_extraccion = pd.DataFrame(columns=colsExtraccion)

Rellenamos los nuevos dataframes

In [136]:
df_flota['nombre_flota'] = df_datos['flota'] #para el caso de las flotas

In [137]:
df_flota.dropna(inplace=True)
df_flota = df_flota.drop_duplicates(subset=['nombre_flota'])
df_flota

      nombre_flota
0        CAT 793 C
4        CAT 797 B
5        CAT 793 F
13       CAT 797 F
96       KOM 930 E
97     Kom 980 AHS
488  LIEBHERR 264
502    CAT 793 OXE
513     KOM 930OXE

In [138]:
df_camion['flota'] = df_datos['flota'] #para los camiones
df_camion['id_camion'] = df_datos['camion']
df_camion = df_camion.drop_duplicates(subset=['id_camion'])
df_camion

             flota id_camion
0        CAT 793 C      C121
1        CAT 793 C      C123
2        CAT 793 C      C125
3        CAT 793 C      C128
4        CAT 797 B       C14
..             ...       ...
315      CAT 797 F       C22
488  LIEBHERR 264       C701
499  LIEBHERR 264       C702
502    CAT 793 OXE   C793OXE
513     KOM 930OXE   C930OXE

[73 rows x 2 columns]

In [139]:
df_rajo['nombre_rajo'] = df_datos['rajo'] # para los rajos
df_rajo = df_rajo.drop_duplicates(subset=['nombre_rajo'])
df_rajo

       nombre_rajo
0        ESPERANZA
25          TESORO
97   ESPERANZA_SUR
488          LLANO
502      ENCUENTRO

In [140]:
df_fase['rajo'] = df_datos['rajo'] #para las fases
df_fase['id_fase'] = df_datos['zona']
df_fase['estado'] = True
df_fase = df_fase.drop_duplicates(subset=['id_fase'])
df_fase

              rajo        id_fase  estado
0        ESPERANZA      ESPERANZA    True
25          TESORO          OXIDO    True
42       ESPERANZA        FASE 10    True
68       ESPERANZA         FASE 7    True
97   ESPERANZA_SUR     F03 ESPSUR    True
134      ESPERANZA         FASE 8    True
488          LLANO        F01 LLA    True
495          LLANO        F02 LLA    True
502      ENCUENTRO    FASE 04 ENC    True
503      ENCUENTRO  ENCUENTRO OXE    True

In [141]:
df_fase['id_fase'] = df_fase['id_fase'].str.replace('F01 LLA', 'FASE 1') #arreglamos los valores que no se adecuan al resto
df_fase

              rajo        id_fase  estado
0        ESPERANZA      ESPERANZA    True
25          TESORO          OXIDO    True
42       ESPERANZA        FASE 10    True
68       ESPERANZA         FASE 7    True
97   ESPERANZA_SUR     F03 ESPSUR    True
134      ESPERANZA         FASE 8    True
488          LLANO         FASE 1    True
495          LLANO        F02 LLA    True
502      ENCUENTRO    FASE 04 ENC    True
503      ENCUENTRO  ENCUENTRO OXE    True

In [142]:
df_extraccion['fecha'] = df_datos['fecha']
df_extraccion['flota'] = df_datos['flota']
df_extraccion['camion'] = df_datos['camion']
df_extraccion['material'] = df_datos['material']
df_extraccion['origen'] = df_datos['origen']
df_extraccion['destino'] = df_datos['destino']
df_extraccion['tonelaje'] = df_datos['tonelaje']
df_extraccion['ciclos'] = df_datos['ciclos']
df_extraccion['rajo'] = df_datos['rajo']
df_extraccion['fase'] = df_datos['zona']
df_extraccion

,fecha,flota,camion,material,origen,destino,tonelaje,ciclos,rajo,fase
0,2023-06-20,CAT 793 C,C121,sulfuro de media,STOCK_SME,CHANCADO-SULFURO,1735.680054,8,ESPERANZA,ESPERANZA
1,2023-06-20,CAT 793 C,C123,sulfuro de media,STOCK_SME,CHANCADO-SULFURO,2386.560104,11,ESPERANZA,ESPERANZA
2,2023-06-20,CAT 793 C,C125,sulfuro planta,STOCK_SPL_DIN,CHANCADO-SULFURO,1084.800049,5,ESPERANZA,ESPERANZA
3,2023-06-20,CAT 793 C,C128,sulfuro de media,STOCK_SME,CHANCADO-SULFURO,1735.680054,8,ESPERANZA,ESPERANZA
4,2023-06-20,CAT 797 B,C14,sulfuro de media,STOCK_SME,CHANCADO-SULFURO,1039.211975,3,ESPERANZA,ESPERANZA
...,...,...,...,...,...,...,...,...,...,...
509,2023-06-20,CAT 793 OXE,C793OXE,oxido baja ley (oxbl),OXE/F04/2144/416,MOD D,3080.000000,14,ENCUENTRO,FASE 04 ENC
510,2023-06-20,CAT 793 OXE,C793OXE,oxido baja ley (oxbl),OXE/F04/2144/416,MOD E,4180.000000,19,ENCUENTRO,FASE 04 ENC
511,2023-06-20,CAT 793 OXE,C793OXE,oxido marginal (oxmar),OXE/F04/2144/410,CHANCADO-ENCUENTRO,220.000000,1,ENCUENTRO,FASE 04 ENC
512,2023-06-20,CAT 793 OXE,C793OXE,oxido marginal (oxmar),OXE/F04/2144/410,STOCK _MARGINAL_ESTE,15180.000000,69,ENCUENTRO,FASE 04 ENC
513,2023-06-20,KOM 930OXE,C930OXE,l21,04_2376_455,BOT_2440,32190.000000,111,ENCUENTRO,FASE 04 ENC

In [143]:
df_extraccion['fase'] = df_extraccion['fase'].str.replace('F01 LLA', 'FASE 1') #corregimos errores de escritura
df_extraccion

,fecha,flota,camion,material,origen,destino,tonelaje,ciclos,rajo,fase
0,2023-06-20,CAT 793 C,C121,sulfuro de media,STOCK_SME,CHANCADO-SULFURO,1735.680054,8,ESPERANZA,ESPERANZA
1,2023-06-20,CAT 793 C,C123,sulfuro de media,STOCK_SME,CHANCADO-SULFURO,2386.560104,11,ESPERANZA,ESPERANZA
2,2023-06-20,CAT 793 C,C125,sulfuro planta,STOCK_SPL_DIN,CHANCADO-SULFURO,1084.800049,5,ESPERANZA,ESPERANZA
3,2023-06-20,CAT 793 C,C128,sulfuro de media,STOCK_SME,CHANCADO-SULFURO,1735.680054,8,ESPERANZA,ESPERANZA
4,2023-06-20,CAT 797 B,C14,sulfuro de media,STOCK_SME,CHANCADO-SULFURO,1039.211975,3,ESPERANZA,ESPERANZA
...,...,...,...,...,...,...,...,...,...,...
509,2023-06-20,CAT 793 OXE,C793OXE,oxido baja ley (oxbl),OXE/F04/2144/416,MOD D,3080.000000,14,ENCUENTRO,FASE 04 ENC
510,2023-06-20,CAT 793 OXE,C793OXE,oxido baja ley (oxbl),OXE/F04/2144/416,MOD E,4180.000000,19,ENCUENTRO,FASE 04 ENC
511,2023-06-20,CAT 793 OXE,C793OXE,oxido marginal (oxmar),OXE/F04/2144/410,CHANCADO-ENCUENTRO,220.000000,1,ENCUENTRO,FASE 04 ENC
512,2023-06-20,CAT 793 OXE,C793OXE,oxido marginal (oxmar),OXE/F04/2144/410,STOCK _MARGINAL_ESTE,15180.000000,69,ENCUENTRO,FASE 04 ENC
513,2023-06-20,KOM 930OXE,C930OXE,l21,04_2376_455,BOT_2440,32190.000000,111,ENCUENTRO,FASE 04 ENC

In [144]:
df_extraccion = df_extraccion.groupby(['fecha', 'flota', 'camion', 'material', 'origen', 'destino', 'rajo', 'fase']).sum().reset_index()
df_extraccion

,fecha,flota,camion,material,origen,destino,rajo,fase,tonelaje,ciclos
0,2023-06-20,CAT 793 C,C121,baja ley 1,ST-TS_18,CHANCADO-OXIDO,TESORO,OXIDO,432.872986,2
1,2023-06-20,CAT 793 C,C121,lastre oxidado,ESP/F10/2296/1051,BOT_CENTRAL_SUR_INF,ESPERANZA,FASE 10,432.872986,2
2,2023-06-20,CAT 793 C,C121,lastre oxidado,ESP/F10/2296/1051,BOT_RAMPA_SUPERIOR,ESPERANZA,FASE 10,216.436005,1
3,2023-06-20,CAT 793 C,C121,marginal alta,STM-NE-02,CHANCADO-OXIDO,TESORO,OXIDO,3462.984985,16
4,2023-06-20,CAT 793 C,C121,sulfuro de media,STOCK_SME,CHANCADO-SULFURO,ESPERANZA,ESPERANZA,1735.680054,8
...,...,...,...,...,...,...,...,...,...,...
470,2023-06-20,LIEBHERR 264,C701,lastre (las),LLA/F02/2302.5/210,BOT_TSS,LLANO,F02 LLA,219.000000,1
471,2023-06-20,LIEBHERR 264,C701,lastre (las),LLA/F02/2302.5/215,BOT_TSS,LLANO,F02 LLA,16206.000000,74
472,2023-06-20,LIEBHERR 264,C702,lastre (las),LLA/F02/2302.5/2031,BOT_TSS,LLANO,F02 LLA,876.000000,4
473,2023-06-20,LIEBHERR 264,C702,lastre (las),LLA/F02/2302.5/209,BOT_TSS,LLANO,F02 LLA,219.000000,1
474,2023-06-20,LIEBHERR 264,C702,lastre (las),LLA/F02/2302.5/215,BOT_TSS,LLANO,F02 LLA,1095.000000,5

### Conexión

Procedemos a conectarnos a la base de datos

In [145]:
engine = sqlalchemy.create_engine('postgresql://postgres:admin@localhost:5432/DBextracciones')

Reindexamos los dataframes

In [146]:
df_flota.set_index('nombre_flota', inplace=True)
df_camion.set_index('flota', inplace=True)
df_rajo.set_index('nombre_rajo', inplace=True)
df_fase.set_index('rajo', inplace=True)
df_extraccion.set_index('fecha', inplace=True)

Cargamos los elementos que ya están en la base de datos

In [147]:
tabla_flota = pd.read_sql_table('flota', engine)
tabla_camion = pd.read_sql_table('camion', engine)
tabla_rajo = pd.read_sql_table('rajo', engine)
tabla_fase = pd.read_sql_table('fase', engine)
tabla_extraccion = pd.read_sql_table('extraccion', engine)

In [148]:
tabla_flota

     nombre_flota
0       CAT 797 B
1       CAT 793 C
2       CAT 793 F
3       CAT 797 F
4       KOM 930 E
5     KOM 980 ESP
6     Kom 980 AHS
7    KOM 980 ESPS
8   LIEBHERR 264
9     CAT 793 OXE
10     KOM 930OXE
11    CAT 730 OXE

In [149]:
tabla_camion

            flota id_camion
0       CAT 797 B       C11
1       CAT 793 C      C132
2       CAT 793 F      C160
3       CAT 797 F       C39
4       KOM 930 E       C51
..            ...       ...
76  LIEBHERR 264       C701
77    CAT 793 OXE   C793OXE
78     KOM 930OXE   C930OXE
79  LIEBHERR 264       C702
80    CAT 730 OXE   C730OXE

[81 rows x 2 columns]

In [150]:
tabla_rajo

     nombre_rajo
0      ESPERANZA
1          LLANO
2         TESORO
3  ESPERANZA_SUR
4      ENCUENTRO

In [151]:
tabla_fase

             rajo        id_fase  estado
0       ESPERANZA      ESPERANZA    True
1           LLANO         FASE 1    True
2          TESORO          OXIDO    True
3       ESPERANZA         FASE 7    True
4       ESPERANZA         FASE 8    True
5       ESPERANZA        FASE 10    True
6   ESPERANZA_SUR  ESPERANZA_SUR    True
7   ESPERANZA_SUR     F03 ESPSUR    True
8   ESPERANZA_SUR     F02 ESPSUR    True
9           LLANO        F02 LLA    True
10      ENCUENTRO  ENCUENTRO OXE    True
11      ENCUENTRO    FASE 04 ENC    True

In [152]:
tabla_extraccion

,fecha,flota,camion,material,origen,destino,rajo,fase,tonelaje,ciclos
0,2022-12-01,CAT 793 C,C121,lastre oxidado,ESP/F07/2168/7062,BOT_2380_INT,ESPERANZA,FASE 7,643.572998,3
1,2022-12-01,CAT 793 C,C121,lastre oxidado,ESP/F07/2184/732,BOT_2380_INT,ESPERANZA,FASE 7,1072.619995,5
2,2022-12-01,CAT 793 C,C122,lastre oxidado,ESP/F07/2168/7062,BOT_2380_INT,ESPERANZA,FASE 7,1072.619995,5
3,2022-12-01,CAT 793 C,C122,lastre oxidado,ESP/F07/2184/732,BOT_2380_INT,ESPERANZA,FASE 7,1072.619995,5
4,2022-12-01,CAT 793 C,C122,lastre sulfurado,ESP/F07/2184/733,BOT_INT_RB,ESPERANZA,FASE 7,214.524002,1
...,...,...,...,...,...,...,...,...,...,...
25430,2023-06-19,LIEBHERR 264,C701,lastre (las),LLA/F01/2302.5/1100,BOT_TSS,LLANO,FASE 1,1314.000000,6
25431,2023-06-19,LIEBHERR 264,C702,lastre (las),LLA/F01/2295/1060,BOT_TSS,LLANO,FASE 1,7227.000000,33
25432,2023-06-19,LIEBHERR 264,C702,lastre (las),LLA/F01/2302.5/1080,BOT_TSS,LLANO,FASE 1,3066.000000,14
25433,2023-06-19,LIEBHERR 264,C702,lastre (las),LLA/F02/2302.5/210,BOT_TSS,LLANO,F02 LLA,14673.000000,67
25434,2023-06-19,LIEBHERR 264,C702,lastre (las),LLA/F02/2302.5/215,BOT_TSS,LLANO,F02 LLA,20805.000000,95

Eliminamos los duplicados

In [153]:
merged_flota = df_flota.merge(tabla_flota, how='left', on='nombre_flota', indicator='union')
merged_flota = merged_flota[merged_flota.union=='left_only']
merged_flota

Empty DataFrame
Columns: [nombre_flota, union]
Index: []

In [154]:
merged_camion = df_camion.merge(tabla_camion, how='left', on=['flota', 'id_camion'], indicator='union')
merged_camion = merged_camion[merged_camion.union=='left_only']
merged_camion

Empty DataFrame
Columns: [flota, id_camion, union]
Index: []

In [155]:
merged_rajo = df_rajo.merge(tabla_rajo, how='left', on='nombre_rajo', indicator='union')
merged_rajo = merged_rajo[merged_rajo.union=='left_only']
merged_rajo

Empty DataFrame
Columns: [nombre_rajo, union]
Index: []

In [156]:
merged_fase = df_fase.merge(tabla_fase, how='left', on=['rajo', 'id_fase'], indicator='union')
merged_fase = merged_fase[merged_fase.union=='left_only']
merged_fase

Empty DataFrame
Columns: [rajo, id_fase, estado_x, estado_y, union]
Index: []

In [157]:
merged_extraccion = df_extraccion.merge(tabla_extraccion, how='left', on=['fecha', 'flota', 'camion', 'material', 'origen', 'destino', 'rajo', 'fase'], indicator='union')
merged_extraccion = merged_extraccion[merged_extraccion.union=='left_only']
merged_extraccion

,fecha,flota,camion,material,origen,destino,rajo,fase,tonelaje_x,ciclos_x,tonelaje_y,ciclos_y,union
0,2023-06-20,CAT 793 C,C121,baja ley 1,ST-TS_18,CHANCADO-OXIDO,TESORO,OXIDO,432.872986,2,NaN,NaN,left_only
1,2023-06-20,CAT 793 C,C121,lastre oxidado,ESP/F10/2296/1051,BOT_CENTRAL_SUR_INF,ESPERANZA,FASE 10,432.872986,2,NaN,NaN,left_only
2,2023-06-20,CAT 793 C,C121,lastre oxidado,ESP/F10/2296/1051,BOT_RAMPA_SUPERIOR,ESPERANZA,FASE 10,216.436005,1,NaN,NaN,left_only
3,2023-06-20,CAT 793 C,C121,marginal alta,STM-NE-02,CHANCADO-OXIDO,TESORO,OXIDO,3462.984985,16,NaN,NaN,left_only
4,2023-06-20,CAT 793 C,C121,sulfuro de media,STOCK_SME,CHANCADO-SULFURO,ESPERANZA,ESPERANZA,1735.680054,8,NaN,NaN,left_only
...,...,...,...,...,...,...,...,...,...,...,...,...,...
470,2023-06-20,LIEBHERR 264,C701,lastre (las),LLA/F02/2302.5/210,BOT_TSS,LLANO,F02 LLA,219.000000,1,NaN,NaN,left_only
471,2023-06-20,LIEBHERR 264,C701,lastre (las),LLA/F02/2302.5/215,BOT_TSS,LLANO,F02 LLA,16206.000000,74,NaN,NaN,left_only
472,2023-06-20,LIEBHERR 264,C702,lastre (las),LLA/F02/2302.5/2031,BOT_TSS,LLANO,F02 LLA,876.000000,4,NaN,NaN,left_only
473,2023-06-20,LIEBHERR 264,C702,lastre (las),LLA/F02/2302.5/209,BOT_TSS,LLANO,F02 LLA,219.000000,1,NaN,NaN,left_only
474,2023-06-20,LIEBHERR 264,C702,lastre (las),LLA/F02/2302.5/215,BOT_TSS,LLANO,F02 LLA,1095.000000,5,NaN,NaN,left_only

Creamos nuevos dataframes para ordenar los datos

In [158]:
df_flota2 = merged_flota
df_flota2.drop('union', axis='columns', inplace=True)
df_flota2

Empty DataFrame
Columns: [nombre_flota]
Index: []

In [159]:
df_camion2 = merged_camion
df_camion2.drop('union', axis='columns', inplace=True)
df_camion2

Empty DataFrame
Columns: [flota, id_camion]
Index: []

In [160]:
df_rajo2 = merged_rajo
df_rajo2.drop('union', axis='columns',inplace=True)
df_rajo2

Empty DataFrame
Columns: [nombre_rajo]
Index: []

In [161]:
df_fase2 = merged_fase
df_fase2.drop(['estado_y', 'union'], axis='columns',inplace=True)
df_fase2 = df_fase2.rename(columns={'estado_x': 'estado'})
df_fase2

Empty DataFrame
Columns: [rajo, id_fase, estado]
Index: []

In [162]:
df_extraccion2 = merged_extraccion
df_extraccion2.drop(['tonelaje_y', 'ciclos_y','union'], axis='columns',inplace=True)
df_extraccion2 = df_extraccion2.rename(columns={'tonelaje_x': 'tonelaje', 'ciclos_x': 'ciclos'})
df_extraccion2

,fecha,flota,camion,material,origen,destino,rajo,fase,tonelaje,ciclos
0,2023-06-20,CAT 793 C,C121,baja ley 1,ST-TS_18,CHANCADO-OXIDO,TESORO,OXIDO,432.872986,2
1,2023-06-20,CAT 793 C,C121,lastre oxidado,ESP/F10/2296/1051,BOT_CENTRAL_SUR_INF,ESPERANZA,FASE 10,432.872986,2
2,2023-06-20,CAT 793 C,C121,lastre oxidado,ESP/F10/2296/1051,BOT_RAMPA_SUPERIOR,ESPERANZA,FASE 10,216.436005,1
3,2023-06-20,CAT 793 C,C121,marginal alta,STM-NE-02,CHANCADO-OXIDO,TESORO,OXIDO,3462.984985,16
4,2023-06-20,CAT 793 C,C121,sulfuro de media,STOCK_SME,CHANCADO-SULFURO,ESPERANZA,ESPERANZA,1735.680054,8
...,...,...,...,...,...,...,...,...,...,...
470,2023-06-20,LIEBHERR 264,C701,lastre (las),LLA/F02/2302.5/210,BOT_TSS,LLANO,F02 LLA,219.000000,1
471,2023-06-20,LIEBHERR 264,C701,lastre (las),LLA/F02/2302.5/215,BOT_TSS,LLANO,F02 LLA,16206.000000,74
472,2023-06-20,LIEBHERR 264,C702,lastre (las),LLA/F02/2302.5/2031,BOT_TSS,LLANO,F02 LLA,876.000000,4
473,2023-06-20,LIEBHERR 264,C702,lastre (las),LLA/F02/2302.5/209,BOT_TSS,LLANO,F02 LLA,219.000000,1
474,2023-06-20,LIEBHERR 264,C702,lastre (las),LLA/F02/2302.5/215,BOT_TSS,LLANO,F02 LLA,1095.000000,5

In [163]:
df_flota2.set_index('nombre_flota', inplace=True)
df_camion2.set_index('flota', inplace=True)
df_rajo2.set_index('nombre_rajo', inplace=True)
df_fase2.set_index('rajo', inplace=True)
df_extraccion2.set_index('fecha', inplace=True)

Cargamos los datos

In [164]:
df_flota2.to_sql('flota', engine, if_exists='append')
df_camion2.to_sql('camion', engine, if_exists='append')
df_rajo2.to_sql('rajo', engine, if_exists='append')
df_fase2.to_sql('fase', engine, if_exists='append')
df_extraccion2.to_sql('extraccion', engine, if_exists='append')

475