# Datos de reportes mineros consolidados y guardados en base de datos

Se nos presentan los datos de reportes de producción minera en archivos csv, los cuales debemos trabajar mediante ETL para cargarlos a una base de datos

## Importamos las librerías

In [1]:
import pandas as pd
from numpy import nan
import sqlalchemy
import psycopg2

## 1. Extract

Realizamos la extracción de datos desde los archivos csv.
También deberemos analizar la composición de los datos obtenidos.

In [2]:
df_datos = pd.read_csv(filepath_or_buffer="C:/Users/franc/Desktop/proyecto/Sistema_De_Reportes/archivos/en_uso/01062023.csv", sep=";",encoding='latin-1')
#df_datos = pd.read_csv(filepath_or_buffer="C:/Users/franc/Desktop/proyecto/Sistema_De_Reportes/archivos/usados/DatosEjemploDiciembre2.csv", sep=";",encoding='latin-1')

In [3]:
df_datos

,Fecha,Carguio,CamiÃ³n,Flota,Material,Origen,Zona,Destino,Tonelaje,Ciclos,Rajo
0,01-06-2023,CF2,C08,CAT 797 B,Lastre Oxidado,ESP/F07/2120/705,FASE 7,BOT_2380_INT,"1385,619995",4,ESPERANZA
1,01-06-2023,CF2,C08,CAT 797 B,Lastre Sulfurado,ESP/F07/2120/727,FASE 7,BOT_2380_INT,"692,8079834",2,ESPERANZA
2,01-06-2023,CF2,C10,CAT 797 B,Lastre Oxidado,ESP/F07/2120/705,FASE 7,BOT_2380_INT,"346,4039917",1,ESPERANZA
3,01-06-2023,CF2,C10,CAT 797 B,Lastre Sulfurado,ESP/F07/2120/727,FASE 7,BOT_2380_INT,"692,8079834",2,ESPERANZA
4,01-06-2023,CF2,C11,CAT 797 B,Lastre Oxidado,ESP/F07/2120/705,FASE 7,BOT_2380_INT,"692,8079834",2,ESPERANZA
...,...,...,...,...,...,...,...,...,...,...,...
660,01-06-2023,PATH01,C793OXE,CAT 793 OXE,OAR,MOD_A_REM,ENCUENTRO OXE,CHANCADO-ENCUENTRO,30140,137,ENCUENTRO
661,01-06-2023,PATH01,C793OXE,CAT 793 OXE,OBR,MOD_E_REM,ENCUENTRO OXE,CHANCADO-ENCUENTRO,1540,7,ENCUENTRO
662,01-06-2023,PATH01,C793OXE,CAT 793 OXE,ORM,MOD_B_REM,ENCUENTRO OXE,CHANCADO-ENCUENTRO,440,2,ENCUENTRO
663,01-06-2023,PATH01,C930OXE,KOM 930OXE,L21,04_2376_452,FASE 04 ENC,BOT.2420,23780,82,ENCUENTRO
664,01-06-2023,PATH01,C930OXE,KOM 930OXE,L21,04_2376_455,FASE 04 ENC,BOT.2420,81200,280,ENCUENTRO

## 2. Transform

Separamos los datos por columnnas

In [4]:
colsDatos = ['fecha', 'carguio', 'camion', 'flota', 'material', 'origen', 'zona', 'destino', 'tonelaje', 'ciclos', 'rajo']
df_datos.columns = colsDatos

Obtenemos los tipos de datos para el dataframe

In [5]:
df_datos.dtypes

fecha       object
carguio     object
camion      object
flota       object
material    object
origen      object
zona        object
destino     object
tonelaje    object
ciclos       int64
rajo        object
dtype: object

Buscamos la cantidad de datos en el dataframe

In [6]:
df_datos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 665 entries, 0 to 664
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   fecha     665 non-null    object
 1   carguio   665 non-null    object
 2   camion    665 non-null    object
 3   flota     665 non-null    object
 4   material  665 non-null    object
 5   origen    665 non-null    object
 6   zona      665 non-null    object
 7   destino   665 non-null    object
 8   tonelaje  665 non-null    object
 9   ciclos    665 non-null    int64
 10  rajo      665 non-null    object
dtypes: int64(1), object(10)
memory usage: 57.3+ KB

Sumamos los datos nulos

In [7]:
df_datos.isnull().sum()

fecha       0
carguio     0
camion      0
flota       0
material    0
origen      0
zona        0
destino     0
tonelaje    0
ciclos      0
rajo        0
dtype: int64

Al no haber datos nulos en el dataframe se continua, de haber nulos se procederá a eliminarlos

### Formateo de datos

La mezcla de mayúsculas y minúsculas (camel case) suele dar problemas, por lo que decidimos pasar los valores de la columna material a minúscula

In [8]:
df_datos["material"] = df_datos["material"].str.lower()
df_datos

,fecha,carguio,camion,flota,material,origen,zona,destino,tonelaje,ciclos,rajo
0,01-06-2023,CF2,C08,CAT 797 B,lastre oxidado,ESP/F07/2120/705,FASE 7,BOT_2380_INT,"1385,619995",4,ESPERANZA
1,01-06-2023,CF2,C08,CAT 797 B,lastre sulfurado,ESP/F07/2120/727,FASE 7,BOT_2380_INT,"692,8079834",2,ESPERANZA
2,01-06-2023,CF2,C10,CAT 797 B,lastre oxidado,ESP/F07/2120/705,FASE 7,BOT_2380_INT,"346,4039917",1,ESPERANZA
3,01-06-2023,CF2,C10,CAT 797 B,lastre sulfurado,ESP/F07/2120/727,FASE 7,BOT_2380_INT,"692,8079834",2,ESPERANZA
4,01-06-2023,CF2,C11,CAT 797 B,lastre oxidado,ESP/F07/2120/705,FASE 7,BOT_2380_INT,"692,8079834",2,ESPERANZA
...,...,...,...,...,...,...,...,...,...,...,...
660,01-06-2023,PATH01,C793OXE,CAT 793 OXE,oar,MOD_A_REM,ENCUENTRO OXE,CHANCADO-ENCUENTRO,30140,137,ENCUENTRO
661,01-06-2023,PATH01,C793OXE,CAT 793 OXE,obr,MOD_E_REM,ENCUENTRO OXE,CHANCADO-ENCUENTRO,1540,7,ENCUENTRO
662,01-06-2023,PATH01,C793OXE,CAT 793 OXE,orm,MOD_B_REM,ENCUENTRO OXE,CHANCADO-ENCUENTRO,440,2,ENCUENTRO
663,01-06-2023,PATH01,C930OXE,KOM 930OXE,l21,04_2376_452,FASE 04 ENC,BOT.2420,23780,82,ENCUENTRO
664,01-06-2023,PATH01,C930OXE,KOM 930OXE,l21,04_2376_455,FASE 04 ENC,BOT.2420,81200,280,ENCUENTRO

Notamos que podemos cambiar el tipo de tonelaje desde objtect a float, para ello primero debemos reemplazar las "comas" por "puntos"

In [9]:
df_datos['tonelaje'] = df_datos['tonelaje'].str.replace(',', '.') #separamos correctamente los datos
df_datos = df_datos.astype({'tonelaje': 'float64'})
df_datos.dtypes

fecha        object
carguio      object
camion       object
flota        object
material     object
origen       object
zona         object
destino      object
tonelaje    float64
ciclos        int64
rajo         object
dtype: object

Notamos que también podemos cambiar el formato a las fechas

In [10]:
df_datos['fecha'] = df_datos['fecha'].str.replace('/', '-') #separamos correctamente los datos
df_datos['fecha'] = pd.to_datetime(df_datos['fecha'])
df_datos.dtypes

fecha       datetime64[ns]
carguio             object
camion              object
flota               object
material            object
origen              object
zona                object
destino             object
tonelaje           float64
ciclos               int64
rajo                object
dtype: object

## 3. Load

A continuación cargamos nuestros dataframes a una base de datos en PostgreSQL

Para ello crearemos dataframes que se adapten a nuestras tablas de SQL

In [11]:
colsFlota = ['nombre_flota'] #creamos las columnas
colsCamion = ['flota', 'id_camion']
colsRajo = ['nombre_rajo']
colsFase = ['rajo', 'id_fase', 'estado']
colsExtraccion = ['fecha', 'flota', 'camion', 'material', 'origen', 'destino', 'tonelaje', 'ciclos', 'rajo', 'fase']

In [12]:
df_flota = pd.DataFrame(columns=colsFlota) #creamos los dataframes
df_camion = pd.DataFrame(columns=colsCamion)
df_rajo = pd.DataFrame(columns=colsRajo)
df_fase = pd.DataFrame(columns=colsFase)
df_extraccion = pd.DataFrame(columns=colsExtraccion)

Rellenamos los nuevos dataframes

In [13]:
df_flota['nombre_flota'] = df_datos['flota'] #para el caso de las flotas

In [14]:
df_flota.dropna(inplace=True)
df_flota = df_flota.drop_duplicates(subset=['nombre_flota'])
df_flota

      nombre_flota
0        CAT 797 B
13       CAT 793 F
15       CAT 797 F
48       KOM 930 E
61       CAT 793 C
176    Kom 980 AHS
263   KOM 980 ESPS
655  LIEBHERR 264
660    CAT 793 OXE
663     KOM 930OXE

In [15]:
df_camion['flota'] = df_datos['flota'] #para los camiones
df_camion['id_camion'] = df_datos['camion']
df_camion = df_camion.drop_duplicates(subset=['id_camion'])
df_camion

             flota id_camion
0        CAT 797 B       C08
2        CAT 797 B       C10
4        CAT 797 B       C11
6        CAT 797 B       C12
9        CAT 797 B       C13
..             ...       ...
342      CAT 797 B       C07
647      CAT 793 C      C130
655  LIEBHERR 264       C701
660    CAT 793 OXE   C793OXE
663     KOM 930OXE   C930OXE

[71 rows x 2 columns]

In [16]:
df_rajo['nombre_rajo'] = df_datos['rajo'] # para los rajos
df_rajo = df_rajo.drop_duplicates(subset=['nombre_rajo'])
df_rajo

       nombre_rajo
0        ESPERANZA
98   ESPERANZA_SUR
645         TESORO
655          LLANO
660      ENCUENTRO

In [17]:
df_fase['rajo'] = df_datos['rajo'] #para las fases
df_fase['id_fase'] = df_datos['zona']
df_fase['estado'] = True
df_fase = df_fase.drop_duplicates(subset=['id_fase'])
df_fase

              rajo        id_fase  estado
0        ESPERANZA         FASE 7    True
61       ESPERANZA        FASE 10    True
98   ESPERANZA_SUR  ESPERANZA_SUR    True
110      ESPERANZA      ESPERANZA    True
176  ESPERANZA_SUR     F03 ESPSUR    True
263  ESPERANZA_SUR     F02 ESPSUR    True
645         TESORO          OXIDO    True
655          LLANO        F01 LLA    True
658          LLANO        F02 LLA    True
660      ENCUENTRO  ENCUENTRO OXE    True
663      ENCUENTRO    FASE 04 ENC    True

In [18]:
df_fase['id_fase'] = df_fase['id_fase'].str.replace('F01 LLA', 'FASE 1') #arreglamos los valores que no se adecuan al resto
df_fase

              rajo        id_fase  estado
0        ESPERANZA         FASE 7    True
61       ESPERANZA        FASE 10    True
98   ESPERANZA_SUR  ESPERANZA_SUR    True
110      ESPERANZA      ESPERANZA    True
176  ESPERANZA_SUR     F03 ESPSUR    True
263  ESPERANZA_SUR     F02 ESPSUR    True
645         TESORO          OXIDO    True
655          LLANO         FASE 1    True
658          LLANO        F02 LLA    True
660      ENCUENTRO  ENCUENTRO OXE    True
663      ENCUENTRO    FASE 04 ENC    True

In [19]:
df_extraccion['fecha'] = df_datos['fecha']
df_extraccion['flota'] = df_datos['flota']
df_extraccion['camion'] = df_datos['camion']
df_extraccion['material'] = df_datos['material']
df_extraccion['origen'] = df_datos['origen']
df_extraccion['destino'] = df_datos['destino']
df_extraccion['tonelaje'] = df_datos['tonelaje']
df_extraccion['ciclos'] = df_datos['ciclos']
df_extraccion['rajo'] = df_datos['rajo']
df_extraccion['fase'] = df_datos['zona']
df_extraccion

,fecha,flota,camion,material,origen,destino,tonelaje,ciclos,rajo,fase
0,2023-01-06,CAT 797 B,C08,lastre oxidado,ESP/F07/2120/705,BOT_2380_INT,1385.619995,4,ESPERANZA,FASE 7
1,2023-01-06,CAT 797 B,C08,lastre sulfurado,ESP/F07/2120/727,BOT_2380_INT,692.807983,2,ESPERANZA,FASE 7
2,2023-01-06,CAT 797 B,C10,lastre oxidado,ESP/F07/2120/705,BOT_2380_INT,346.403992,1,ESPERANZA,FASE 7
3,2023-01-06,CAT 797 B,C10,lastre sulfurado,ESP/F07/2120/727,BOT_2380_INT,692.807983,2,ESPERANZA,FASE 7
4,2023-01-06,CAT 797 B,C11,lastre oxidado,ESP/F07/2120/705,BOT_2380_INT,692.807983,2,ESPERANZA,FASE 7
...,...,...,...,...,...,...,...,...,...,...
660,2023-01-06,CAT 793 OXE,C793OXE,oar,MOD_A_REM,CHANCADO-ENCUENTRO,30140.000000,137,ENCUENTRO,ENCUENTRO OXE
661,2023-01-06,CAT 793 OXE,C793OXE,obr,MOD_E_REM,CHANCADO-ENCUENTRO,1540.000000,7,ENCUENTRO,ENCUENTRO OXE
662,2023-01-06,CAT 793 OXE,C793OXE,orm,MOD_B_REM,CHANCADO-ENCUENTRO,440.000000,2,ENCUENTRO,ENCUENTRO OXE
663,2023-01-06,KOM 930OXE,C930OXE,l21,04_2376_452,BOT.2420,23780.000000,82,ENCUENTRO,FASE 04 ENC
664,2023-01-06,KOM 930OXE,C930OXE,l21,04_2376_455,BOT.2420,81200.000000,280,ENCUENTRO,FASE 04 ENC

In [20]:
df_extraccion['fase'] = df_extraccion['fase'].str.replace('F01 LLA', 'FASE 1') #corregimos errores de escritura
df_extraccion

,fecha,flota,camion,material,origen,destino,tonelaje,ciclos,rajo,fase
0,2023-01-06,CAT 797 B,C08,lastre oxidado,ESP/F07/2120/705,BOT_2380_INT,1385.619995,4,ESPERANZA,FASE 7
1,2023-01-06,CAT 797 B,C08,lastre sulfurado,ESP/F07/2120/727,BOT_2380_INT,692.807983,2,ESPERANZA,FASE 7
2,2023-01-06,CAT 797 B,C10,lastre oxidado,ESP/F07/2120/705,BOT_2380_INT,346.403992,1,ESPERANZA,FASE 7
3,2023-01-06,CAT 797 B,C10,lastre sulfurado,ESP/F07/2120/727,BOT_2380_INT,692.807983,2,ESPERANZA,FASE 7
4,2023-01-06,CAT 797 B,C11,lastre oxidado,ESP/F07/2120/705,BOT_2380_INT,692.807983,2,ESPERANZA,FASE 7
...,...,...,...,...,...,...,...,...,...,...
660,2023-01-06,CAT 793 OXE,C793OXE,oar,MOD_A_REM,CHANCADO-ENCUENTRO,30140.000000,137,ENCUENTRO,ENCUENTRO OXE
661,2023-01-06,CAT 793 OXE,C793OXE,obr,MOD_E_REM,CHANCADO-ENCUENTRO,1540.000000,7,ENCUENTRO,ENCUENTRO OXE
662,2023-01-06,CAT 793 OXE,C793OXE,orm,MOD_B_REM,CHANCADO-ENCUENTRO,440.000000,2,ENCUENTRO,ENCUENTRO OXE
663,2023-01-06,KOM 930OXE,C930OXE,l21,04_2376_452,BOT.2420,23780.000000,82,ENCUENTRO,FASE 04 ENC
664,2023-01-06,KOM 930OXE,C930OXE,l21,04_2376_455,BOT.2420,81200.000000,280,ENCUENTRO,FASE 04 ENC

In [21]:
df_extraccion = df_extraccion.groupby(['fecha', 'flota', 'camion', 'material', 'origen', 'destino', 'rajo', 'fase']).sum().reset_index()
df_extraccion

,fecha,flota,camion,material,origen,destino,rajo,fase,tonelaje,ciclos
0,2023-01-06,CAT 793 C,C122,lastre oxidado,ESP/F10/2296/1030,BOT_RAMPA_SUPERIOR,ESPERANZA,FASE 10,216.436005,1
1,2023-01-06,CAT 793 C,C122,lastre oxidado,ESP/F10/2296/1031,BOT_MIJO,ESPERANZA,FASE 10,216.436005,1
2,2023-01-06,CAT 793 C,C122,lastre oxidado,ESP/F10/2296/1031,BOT_RAMPA_SUPERIOR,ESPERANZA,FASE 10,432.872986,2
3,2023-01-06,CAT 793 C,C122,lastre oxidado,ESP/F10/2312/1160,BOT_RAMPA_SUPERIOR,ESPERANZA,FASE 10,432.872009,2
4,2023-01-06,CAT 793 C,C122,sulfuro baja ley,STOCK_SBL_ESS,CHANCADO-SULFURO,ESPERANZA_SUR,ESPERANZA_SUR,3471.361053,16
...,...,...,...,...,...,...,...,...,...,...
607,2023-01-06,LIEBHERR 264,C701,lastre (las),LLA/F01/2302.5/106,BOT_TSS,LLANO,FASE 1,20148.000000,92
608,2023-01-06,LIEBHERR 264,C701,lastre (las),LLA/F01/2302.5/108,BOT_TSS,LLANO,FASE 1,438.000000,2
609,2023-01-06,LIEBHERR 264,C701,lastre (las),LLA/F01/2302.5/1080,BOT_TSS,LLANO,FASE 1,10731.000000,49
610,2023-01-06,LIEBHERR 264,C701,lastre (las),LLA/F02/2302.5/2090,BOT_TSS,LLANO,F02 LLA,17301.000000,79
611,2023-01-06,LIEBHERR 264,C701,lastre (las),LLA/F02/2302.5/2091,BOT_TSS,LLANO,F02 LLA,219.000000,1

### Conexión

Procedemos a conectarnos a la base de datos

In [22]:
engine = sqlalchemy.create_engine('postgresql://postgres:admin@localhost:5432/DBextracciones')

Reindexamos los dataframes

In [23]:
df_flota.set_index('nombre_flota', inplace=True)
df_camion.set_index('flota', inplace=True)
df_rajo.set_index('nombre_rajo', inplace=True)
df_fase.set_index('rajo', inplace=True)
df_extraccion.set_index('fecha', inplace=True)

Cargamos los elementos que ya están en la base de datos

In [24]:
tabla_flota = pd.read_sql_table('flota', engine)
tabla_camion = pd.read_sql_table('camion', engine)
tabla_rajo = pd.read_sql_table('rajo', engine)
tabla_fase = pd.read_sql_table('fase', engine)
tabla_extraccion = pd.read_sql_table('extraccion', engine)

In [25]:
tabla_flota

  nombre_flota
0    CAT 797 B
1    CAT 793 C
2    CAT 793 F
3    CAT 797 F
4    KOM 930 E
5  KOM 980 ESP

In [26]:
tabla_camion

          flota id_camion
0     CAT 797 B       C11
1     CAT 793 C      C132
2     CAT 793 F      C160
3     CAT 797 F       C39
4     KOM 930 E       C51
..          ...       ...
69  KOM 980 ESP      C212
70    CAT 797 B       C13
71    CAT 797 F       C40
72  KOM 980 ESP      C215
73    CAT 793 F      C161

[74 rows x 2 columns]

In [27]:
tabla_rajo

  nombre_rajo
0   ESPERANZA
1       LLANO
2      TESORO

In [28]:
tabla_fase

        rajo    id_fase  estado
0  ESPERANZA  ESPERANZA    True
1      LLANO     FASE 1    True
2     TESORO      OXIDO    True
3  ESPERANZA     FASE 7    True
4  ESPERANZA     FASE 8    True

In [29]:
tabla_extraccion

,fecha,flota,camion,material,origen,destino,rajo,fase,tonelaje,ciclos
0,2022-12-01,CAT 793 C,C121,lastre oxidado,ESP/F07/2168/7062,BOT_2380_INT,ESPERANZA,FASE 7,643.572998,3
1,2022-12-01,CAT 793 C,C121,lastre oxidado,ESP/F07/2184/732,BOT_2380_INT,ESPERANZA,FASE 7,1072.619995,5
2,2022-12-01,CAT 793 C,C122,lastre oxidado,ESP/F07/2168/7062,BOT_2380_INT,ESPERANZA,FASE 7,1072.619995,5
3,2022-12-01,CAT 793 C,C122,lastre oxidado,ESP/F07/2184/732,BOT_2380_INT,ESPERANZA,FASE 7,1072.619995,5
4,2022-12-01,CAT 793 C,C122,lastre sulfurado,ESP/F07/2184/733,BOT_INT_RB,ESPERANZA,FASE 7,214.524002,1
...,...,...,...,...,...,...,...,...,...,...
15565,2022-12-31,KOM 980 ESP,C215,lastre oxidado,ESP/F07/2168/721,BOT_INT_RB,ESPERANZA,FASE 7,6705.712158,19
15566,2022-12-31,KOM 980 ESP,C215,lastre oxidado,ESP/F07/2168/721,BOT_PETRIL_CHANCADO,ESPERANZA,FASE 7,352.932007,1
15567,2022-12-31,KOM 980 ESP,C215,lastre oxidado,ESP/F07/2168/721,LASTRE_PRETIL_ESTE,ESPERANZA,FASE 7,1411.729980,4
15568,2022-12-31,KOM 980 ESP,C215,sulfuro baja ley,ESP/F08/1816/8030,CHANCADO-SULFURO,ESPERANZA,FASE 8,360.178009,1
15569,2022-12-31,KOM 980 ESP,C215,sulfuro baja ley,ESP/F08/1816/8030,STOCK_SBL1,ESPERANZA,FASE 8,360.178009,1

Eliminamos los duplicados

In [30]:
merged_flota = df_flota.merge(tabla_flota, how='left', on='nombre_flota', indicator='union')
merged_flota = merged_flota[merged_flota.union=='left_only']
merged_flota

    nombre_flota      union
5    Kom 980 AHS  left_only
6   KOM 980 ESPS  left_only
7  LIEBHERR 264   left_only
8    CAT 793 OXE  left_only
9     KOM 930OXE  left_only

In [31]:
merged_camion = df_camion.merge(tabla_camion, how='left', on=['flota', 'id_camion'], indicator='union')
merged_camion = merged_camion[merged_camion.union=='left_only']
merged_camion

            flota    id_camion      union
60    Kom 980 AHS  C980AHSESPS  left_only
65   KOM 980 ESPS   C20115ESPS  left_only
68  LIEBHERR 264          C701  left_only
69    CAT 793 OXE      C793OXE  left_only
70     KOM 930OXE      C930OXE  left_only

In [32]:
merged_rajo = df_rajo.merge(tabla_rajo, how='left', on='nombre_rajo', indicator='union')
merged_rajo = merged_rajo[merged_rajo.union=='left_only']
merged_rajo

     nombre_rajo      union
1  ESPERANZA_SUR  left_only
4      ENCUENTRO  left_only

In [33]:
merged_fase = df_fase.merge(tabla_fase, how='left', on=['rajo', 'id_fase'], indicator='union')
merged_fase = merged_fase[merged_fase.union=='left_only']
merged_fase

             rajo        id_fase  estado_x estado_y      union
1       ESPERANZA        FASE 10      True      NaN  left_only
2   ESPERANZA_SUR  ESPERANZA_SUR      True      NaN  left_only
4   ESPERANZA_SUR     F03 ESPSUR      True      NaN  left_only
5   ESPERANZA_SUR     F02 ESPSUR      True      NaN  left_only
8           LLANO        F02 LLA      True      NaN  left_only
9       ENCUENTRO  ENCUENTRO OXE      True      NaN  left_only
10      ENCUENTRO    FASE 04 ENC      True      NaN  left_only

In [34]:
merged_extraccion = df_extraccion.merge(tabla_extraccion, how='left', on=['fecha', 'flota', 'camion', 'material', 'origen', 'destino', 'rajo', 'fase'], indicator='union')
merged_extraccion = merged_extraccion[merged_extraccion.union=='left_only']
merged_extraccion

,fecha,flota,camion,material,origen,destino,rajo,fase,tonelaje_x,ciclos_x,tonelaje_y,ciclos_y,union
0,2023-01-06,CAT 793 C,C122,lastre oxidado,ESP/F10/2296/1030,BOT_RAMPA_SUPERIOR,ESPERANZA,FASE 10,216.436005,1,NaN,NaN,left_only
1,2023-01-06,CAT 793 C,C122,lastre oxidado,ESP/F10/2296/1031,BOT_MIJO,ESPERANZA,FASE 10,216.436005,1,NaN,NaN,left_only
2,2023-01-06,CAT 793 C,C122,lastre oxidado,ESP/F10/2296/1031,BOT_RAMPA_SUPERIOR,ESPERANZA,FASE 10,432.872986,2,NaN,NaN,left_only
3,2023-01-06,CAT 793 C,C122,lastre oxidado,ESP/F10/2312/1160,BOT_RAMPA_SUPERIOR,ESPERANZA,FASE 10,432.872009,2,NaN,NaN,left_only
4,2023-01-06,CAT 793 C,C122,sulfuro baja ley,STOCK_SBL_ESS,CHANCADO-SULFURO,ESPERANZA_SUR,ESPERANZA_SUR,3471.361053,16,NaN,NaN,left_only
...,...,...,...,...,...,...,...,...,...,...,...,...,...
607,2023-01-06,LIEBHERR 264,C701,lastre (las),LLA/F01/2302.5/106,BOT_TSS,LLANO,FASE 1,20148.000000,92,NaN,NaN,left_only
608,2023-01-06,LIEBHERR 264,C701,lastre (las),LLA/F01/2302.5/108,BOT_TSS,LLANO,FASE 1,438.000000,2,NaN,NaN,left_only
609,2023-01-06,LIEBHERR 264,C701,lastre (las),LLA/F01/2302.5/1080,BOT_TSS,LLANO,FASE 1,10731.000000,49,NaN,NaN,left_only
610,2023-01-06,LIEBHERR 264,C701,lastre (las),LLA/F02/2302.5/2090,BOT_TSS,LLANO,F02 LLA,17301.000000,79,NaN,NaN,left_only
611,2023-01-06,LIEBHERR 264,C701,lastre (las),LLA/F02/2302.5/2091,BOT_TSS,LLANO,F02 LLA,219.000000,1,NaN,NaN,left_only

Creamos nuevos dataframes para ordenar los datos

In [35]:
df_flota2 = merged_flota
df_flota2.drop('union', axis='columns', inplace=True)
df_flota2

    nombre_flota
5    Kom 980 AHS
6   KOM 980 ESPS
7  LIEBHERR 264
8    CAT 793 OXE
9     KOM 930OXE

In [36]:
df_camion2 = merged_camion
df_camion2.drop('union', axis='columns', inplace=True)
df_camion2

            flota    id_camion
60    Kom 980 AHS  C980AHSESPS
65   KOM 980 ESPS   C20115ESPS
68  LIEBHERR 264          C701
69    CAT 793 OXE      C793OXE
70     KOM 930OXE      C930OXE

In [37]:
df_rajo2 = merged_rajo
df_rajo2.drop('union', axis='columns',inplace=True)
df_rajo2

     nombre_rajo
1  ESPERANZA_SUR
4      ENCUENTRO

In [38]:
df_fase2 = merged_fase
df_fase2.drop(['estado_y', 'union'], axis='columns',inplace=True)
df_fase2 = df_fase2.rename(columns={'estado_x': 'estado'})
df_fase2

             rajo        id_fase  estado
1       ESPERANZA        FASE 10    True
2   ESPERANZA_SUR  ESPERANZA_SUR    True
4   ESPERANZA_SUR     F03 ESPSUR    True
5   ESPERANZA_SUR     F02 ESPSUR    True
8           LLANO        F02 LLA    True
9       ENCUENTRO  ENCUENTRO OXE    True
10      ENCUENTRO    FASE 04 ENC    True

In [39]:
df_extraccion2 = merged_extraccion
df_extraccion2.drop(['tonelaje_y', 'ciclos_y','union'], axis='columns',inplace=True)
df_extraccion2 = df_extraccion2.rename(columns={'tonelaje_x': 'tonelaje', 'ciclos_x': 'ciclos'})
df_extraccion2

,fecha,flota,camion,material,origen,destino,rajo,fase,tonelaje,ciclos
0,2023-01-06,CAT 793 C,C122,lastre oxidado,ESP/F10/2296/1030,BOT_RAMPA_SUPERIOR,ESPERANZA,FASE 10,216.436005,1
1,2023-01-06,CAT 793 C,C122,lastre oxidado,ESP/F10/2296/1031,BOT_MIJO,ESPERANZA,FASE 10,216.436005,1
2,2023-01-06,CAT 793 C,C122,lastre oxidado,ESP/F10/2296/1031,BOT_RAMPA_SUPERIOR,ESPERANZA,FASE 10,432.872986,2
3,2023-01-06,CAT 793 C,C122,lastre oxidado,ESP/F10/2312/1160,BOT_RAMPA_SUPERIOR,ESPERANZA,FASE 10,432.872009,2
4,2023-01-06,CAT 793 C,C122,sulfuro baja ley,STOCK_SBL_ESS,CHANCADO-SULFURO,ESPERANZA_SUR,ESPERANZA_SUR,3471.361053,16
...,...,...,...,...,...,...,...,...,...,...
607,2023-01-06,LIEBHERR 264,C701,lastre (las),LLA/F01/2302.5/106,BOT_TSS,LLANO,FASE 1,20148.000000,92
608,2023-01-06,LIEBHERR 264,C701,lastre (las),LLA/F01/2302.5/108,BOT_TSS,LLANO,FASE 1,438.000000,2
609,2023-01-06,LIEBHERR 264,C701,lastre (las),LLA/F01/2302.5/1080,BOT_TSS,LLANO,FASE 1,10731.000000,49
610,2023-01-06,LIEBHERR 264,C701,lastre (las),LLA/F02/2302.5/2090,BOT_TSS,LLANO,F02 LLA,17301.000000,79
611,2023-01-06,LIEBHERR 264,C701,lastre (las),LLA/F02/2302.5/2091,BOT_TSS,LLANO,F02 LLA,219.000000,1

In [40]:
df_flota2.set_index('nombre_flota', inplace=True)
df_camion2.set_index('flota', inplace=True)
df_rajo2.set_index('nombre_rajo', inplace=True)
df_fase2.set_index('rajo', inplace=True)
df_extraccion2.set_index('fecha', inplace=True)

Cargamos los datos

In [41]:
df_flota2.to_sql('flota', engine, if_exists='append')
df_camion2.to_sql('camion', engine, if_exists='append')
df_rajo2.to_sql('rajo', engine, if_exists='append')
df_fase2.to_sql('fase', engine, if_exists='append')
df_extraccion2.to_sql('extraccion', engine, if_exists='append')

612