# Datos de Planificación minera para cargar en base de datos

Se nos presentan los datos de reportes de producción minera en archivos csv, los cuales debemos trabajar mediante ETL para cargarlos a una base de datos

## Importamos las librerías

In [1]:
import pandas as pd
from numpy import nan
import sqlalchemy
import psycopg2

## 1. Extract

Realizamos la extracción de datos desde los archivos csv.
También deberemos analizar la composición de los datos obtenidos.

In [2]:
df_datos = pd.read_csv(filepath_or_buffer="C:/Users/franc/Desktop/proyecto/Sistema_De_Reportes/archivos/nuevos/PlanM_Junio2023_V00.csv", sep=",",encoding='latin-1')

In [3]:
df_datos

,01-06-2023,71.751081,741.2586709,813.0097519,158.2868437,971.2965956,169.2368437,0,0.1,454.6512211,...,0.293,0.294,64.28739802,54.11438313,54.11438313.1,39.50349969,18000,28.5,216.43652.4,18000.1
0,02-06-2023,77.786585,721.654678,799.441263,102.228434,901.669697,158.468434,0.000000,0.0,437.230326,...,0.0,0.0,64.565307,54.114383,54.114383,39.503500,18000.00,28.5,216.43652,18000.00
1,03-06-2023,59.111785,761.441082,820.552867,82.348434,902.901301,158.468434,0.000000,0.0,460.610308,...,0.0,0.0,64.287398,54.114383,54.114383,39.503500,18000.00,28.5,216.43652,18000.00
2,04-06-2023,130.019572,728.870138,858.889709,43.704473,902.594183,181.334473,76.126257,0.0,397.984318,...,0.0,0.0,63.065849,54.114383,54.114383,39.503500,18000.00,28.5,216.43652,18000.00
3,05-06-2023,119.963528,711.879910,831.843438,98.582810,930.426248,188.439571,76.129482,0.0,385.946634,...,0.0,0.0,28.274408,23.492858,23.492858,17.149786,7814.40,28.5,216.43652,7814.40
4,06-06-2023,109.504836,788.227235,897.732071,30.768410,928.500481,109.787970,76.127770,0.0,434.685641,...,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.00,28.5,216.43652,0.00
5,07-06-2023,105.028577,793.821444,898.850022,48.306795,947.156817,63.902810,76.126940,0.0,415.125617,...,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.00,28.5,216.43652,0.00
6,08-06-2023,116.710200,774.567194,891.277395,72.768410,964.045804,93.236844,74.320012,0.0,398.550522,...,0.0,0.0,63.874991,54.114383,54.114383,39.503500,18000.00,28.5,216.43652,18000.00
7,09-06-2023,117.458353,778.686518,896.144871,70.292844,966.437715,189.236844,73.591828,0.0,408.201097,...,0.0,0.0,22.776218,19.048263,19.048263,13.905232,6336.00,28.5,216.43652,6336.00
8,10-06-2023,113.811104,695.857907,809.669012,57.916844,867.585855,189.236844,76.129769,0.0,397.869107,...,0.0,0.0,65.128397,54.114383,54.114383,39.503500,18000.00,28.5,216.43652,18000.00
9,11-06-2023,110.867632,759.801568,870.669200,72.986844,943.656044,189.236844,76.128990,0.0,414.319007,...,0.0,0.0,64.426053,54.114383,54.114383,39.503500,18000.00,28.5,216.43652,18000.00
10,12-06-2023,113.474374,741.316801,854.791175,87.236844,942.028019,189.236844,78.847376,0.0,386.859686,...,0.0,0.0,64.705165,54.114383,54.114383,39.503500,18000.00,28.5,216.43652,18000.00
11,13-06-2023,117.662104,753.060271,870.722375,96.255478,966.977854,171.605478,78.844709,0.0,370.716965,...,0.0,0.0,64.287398,54.114383,54.114383,39.503500,18000.00,28.5,216.43652,18000.00
12,14-06-2023,31.766485,833.694103,865.460588,115.651093,981.111681,167.651093,0.000000,0.0,437.513085,...,0.0,0.0,64.287398,54.114383,54.114383,39.503500,18000.00,28.5,216.43652,18000.00
13,15-06-2023,50.223509,832.030292,882.253801,123.152810,1005.406611,183.902810,0.000000,0.0,460.630207,...,0.0,0.0,65.846224,54.114383,54.114383,39.503500,18000.00,28.5,216.43652,18000.00
14,16-06-2023,66.989914,821.122967,888.112881,109.094571,997.207452,168.439571,0.000000,0.0,460.389580,...,0.0,0.0,63.874991,54.114383,54.114383,39.503500,18000.00,28.5,216.43652,18000.00
15,17-06-2023,126.671593,665.669314,792.340907,94.604844,886.945751,189.236844,76.127991,0.0,391.661990,...,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.00,28.5,216.43652,0.00
16,18-06-2023,114.699189,708.579514,823.278704,99.856844,923.135548,189.236844,76.129146,0.0,379.468750,...,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.00,28.5,216.43652,0.00
17,19-06-2023,111.697904,779.976200,891.674104,78.746844,970.420948,189.236844,76.129081,0.0,402.574096,...,0.0,0.0,65.128397,54.114383,54.114383,39.503500,18000.00,28.5,216.43652,18000.00
18,20-06-2023,89.711154,801.915020,891.626175,87.236844,978.863018,189.236844,76.127909,0.0,406.922848,...,0.0,0.0,65.128397,54.114383,54.114383,39.503500,18000.00,28.5,216.43652,18000.00
19,21-06-2023,104.758454,781.202470,885.960923,75.383288,961.344212,177.383288,76.126818,0.0,404.071352,...,0.0,0.0,64.149339,54.114383,54.114383,39.503500,18000.00,26.7,216.43652,18000.00
20,22-06-2023,105.714213,813.211751,918.925964,89.236844,1008.162808,189.236844,76.127851,0.0,433.686015,...,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.00,28.5,216.43652,0.00
21,23-06-2023,90.023930,797.167029,887.190959,78.744067,965.935026,160.744067,76.129064,0.0,402.186826,...,0.0,0.0,65.991692,54.114383,54.114383,39.503500,18000.00,28.5,216.43652,18000.00
22,24-06-2023,120.994153,716.286075,837.280229,86.470764,923.750992,189.236844,101.429810,0.0,359.267080,...,0.0,0.0,63.604634,51.811275,51.811275,37.822231,17233.92,28.5,216.43652,17233.92
23,25-06-2023,120.782764,687.905356,808.688120,87.236844,895.924963,189.236844,100.483887,0.0,361.320602,...,0.0,0.0,66.431979,54.114383,54.114383,39.503500,18000.00,28.5,216.43652,18000.00
24,26-06-2023,141.719281,747.895165,889.614446,68.439570,958.054017,188.439571,99.238948,0.0,372.500573,...,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.00,28.5,216.43652,0.00
25,27-06-2023,147.251099,741.143502,888.394600,30.768410,919.163010,150.768410,99.238751,0.0,380.925628,...,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.00,28.5,216.43652,0.00
26,28-06-2023,145.232901,702.256996,847.489897,81.914854,929.404751,138.914854,98.180150,0.0,338.737415,...,0.0,0.0,64.705165,54.114383,54.114383,39.503500,18000.00,28.5,216.43652,18000.00
27,29-06-2023,116.489959,741.178336,857.668295,85.399130,943.067425,150.768410,76.128933,0.0,399.289922,...,0.0,0.0,34.770487,28.953360,28.953360,21.135952,9630.72,28.5,216.43652,9630.72
28,30-06-2023,129.191617,703.622235,832.813852,98.882517,931.696369,155.882517,92.051735,0.0,352.326377,...,0.0,0.0,64.565307,54.114383,54.114383,39.503500,18000.00,28.5,216.43652,18000.00
29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## 2. Transform

Solo nos sirven las primeras 89 columnas, por lo que dropeamos las siguientes

In [4]:
colsDeseadas = df_datos.columns[:89]
df_datos2 = df_datos[colsDeseadas]
df_datos2

,01-06-2023,71.751081,741.2586709,813.0097519,158.2868437,971.2965956,169.2368437,0,0.1,454.6512211,...,73.6272.3,0.43,73.6272.4,0.44,24300,49.3272,24.3,0.45,0.46,0.47
0,02-06-2023,77.786585,721.654678,799.441263,102.228434,901.669697,158.468434,0.000000,0.0,437.230326,...,73.627200,0.0,73.627200,0.0,24300.0000,49.32720,24.300000,0.0,0.0,0.0
1,03-06-2023,59.111785,761.441082,820.552867,82.348434,902.901301,158.468434,0.000000,0.0,460.610308,...,76.867200,0.0,76.867200,0.0,27540.0000,49.32720,27.540000,0.0,0.0,0.0
2,04-06-2023,130.019572,728.870138,858.889709,43.704473,902.594183,181.334473,76.126257,0.0,397.984318,...,76.867200,0.0,76.867200,0.0,27540.0000,49.32720,27.540000,0.0,0.0,0.0
3,05-06-2023,119.963528,711.879910,831.843438,98.582810,930.426248,188.439571,76.129482,0.0,385.946634,...,75.337200,0.0,75.337200,0.0,26010.0000,49.32720,26.010000,0.0,0.0,0.0
4,06-06-2023,109.504836,788.227235,897.732071,30.768410,928.500481,109.787970,76.127770,0.0,434.685641,...,117.265320,0.0,117.265320,0.0,26010.0000,91.25532,26.010000,0.0,0.0,0.0
5,07-06-2023,105.028577,793.821444,898.850022,48.306795,947.156817,63.902810,76.126940,0.0,415.125617,...,117.265320,0.0,117.265320,0.0,26010.0000,91.25532,26.010000,0.0,0.0,0.0
6,08-06-2023,116.710200,774.567194,891.277395,72.768410,964.045804,93.236844,74.320012,0.0,398.550522,...,117.265320,0.0,117.265320,0.0,26010.0000,91.25532,26.010000,0.0,0.0,0.0
7,09-06-2023,117.458353,778.686518,896.144871,70.292844,966.437715,189.236844,73.591828,0.0,408.201097,...,117.265320,0.0,117.265320,0.0,26010.0000,91.25532,26.010000,0.0,0.0,0.0
8,10-06-2023,113.811104,695.857907,809.669012,57.916844,867.585855,189.236844,76.129769,0.0,397.869107,...,67.938120,0.0,67.938120,0.0,26010.0000,41.92812,26.010000,0.0,0.0,0.0
9,11-06-2023,110.867632,759.801568,870.669200,72.986844,943.656044,189.236844,76.128990,0.0,414.319007,...,93.721680,0.0,93.721680,0.0,0.0000,93.72168,0.000000,0.0,0.0,0.0
10,12-06-2023,113.474374,741.316801,854.791175,87.236844,942.028019,189.236844,78.847376,0.0,386.859686,...,119.731680,0.0,119.731680,0.0,26010.0000,93.72168,26.010000,0.0,0.0,0.0
11,13-06-2023,117.662104,753.060271,870.722375,96.255478,966.977854,171.605478,78.844709,0.0,370.716965,...,121.261680,0.0,121.261680,0.0,27540.0000,93.72168,27.540000,0.0,0.0,0.0
12,14-06-2023,31.766485,833.694103,865.460588,115.651093,981.111681,167.651093,0.000000,0.0,437.513085,...,121.261680,0.0,121.261680,0.0,27540.0000,93.72168,27.540000,0.0,0.0,0.0
13,15-06-2023,50.223509,832.030292,882.253801,123.152810,1005.406611,183.902810,0.000000,0.0,460.630207,...,119.731680,0.0,119.731680,0.0,26010.0000,93.72168,26.010000,0.0,0.0,0.0
14,16-06-2023,66.989914,821.122967,888.112881,109.094571,997.207452,168.439571,0.000000,0.0,460.389580,...,117.177865,0.0,117.177865,0.0,23456.1852,93.72168,23.456185,0.0,0.0,0.0
15,17-06-2023,126.671593,665.669314,792.340907,94.604844,886.945751,189.236844,76.127991,0.0,391.661990,...,76.867200,0.0,76.867200,0.0,27540.0000,49.32720,27.540000,0.0,0.0,0.0
16,18-06-2023,114.699189,708.579514,823.278704,99.856844,923.135548,189.236844,76.129146,0.0,379.468750,...,117.177865,0.0,117.177865,0.0,23456.1852,93.72168,23.456185,0.0,0.0,0.0
17,19-06-2023,111.697904,779.976200,891.674104,78.746844,970.420948,189.236844,76.129081,0.0,402.574096,...,117.177865,0.0,117.177865,0.0,23456.1852,93.72168,23.456185,0.0,0.0,0.0
18,20-06-2023,89.711154,801.915020,891.626175,87.236844,978.863018,189.236844,76.127909,0.0,406.922848,...,109.778785,0.0,109.778785,0.0,23456.1852,86.32260,23.456185,0.0,0.0,0.0
19,21-06-2023,104.758454,781.202470,885.960923,75.383288,961.344212,177.383288,76.126818,0.0,404.071352,...,109.778785,0.0,109.778785,0.0,23456.1852,86.32260,23.456185,0.0,0.0,0.0
20,22-06-2023,105.714213,813.211751,918.925964,89.236844,1008.162808,189.236844,76.127851,0.0,433.686015,...,109.778785,0.0,109.778785,0.0,23456.1852,86.32260,23.456185,0.0,0.0,0.0
21,23-06-2023,90.023930,797.167029,887.190959,78.744067,965.935026,160.744067,76.129064,0.0,402.186826,...,112.245145,0.0,112.245145,0.0,23456.1852,88.78896,23.456185,0.0,0.0,0.0
22,24-06-2023,120.994153,716.286075,837.280229,86.470764,923.750992,189.236844,101.429810,0.0,359.267080,...,71.934480,0.0,71.934480,0.0,27540.0000,44.39448,27.540000,0.0,0.0,0.0
23,25-06-2023,120.782764,687.905356,808.688120,87.236844,895.924963,189.236844,100.483887,0.0,361.320602,...,44.394480,0.0,44.394480,0.0,0.0000,44.39448,0.000000,0.0,0.0,0.0
24,26-06-2023,141.719281,747.895165,889.614446,68.439570,958.054017,188.439571,99.238948,0.0,372.500573,...,116.328960,0.0,116.328960,0.0,27540.0000,88.78896,27.540000,0.0,0.0,0.0
25,27-06-2023,147.251099,741.143502,888.394600,30.768410,919.163010,150.768410,99.238751,0.0,380.925628,...,121.261680,0.0,121.261680,0.0,27540.0000,93.72168,27.540000,0.0,0.0,0.0
26,28-06-2023,145.232901,702.256996,847.489897,81.914854,929.404751,138.914854,98.180150,0.0,338.737415,...,121.261680,0.0,121.261680,0.0,27540.0000,93.72168,27.540000,0.0,0.0,0.0
27,29-06-2023,116.489959,741.178336,857.668295,85.399130,943.067425,150.768410,76.128933,0.0,399.289922,...,93.721680,0.0,93.721680,0.0,0.0000,93.72168,0.000000,0.0,0.0,0.0
28,30-06-2023,129.191617,703.622235,832.813852,98.882517,931.696369,155.882517,92.051735,0.0,352.326377,...,93.721680,0.0,93.721680,0.0,0.0000,93.72168,0.000000,0.0,0.0,0.0
29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Eliminamos los valores nulos

In [5]:
df_datos2.dropna(inplace=True)
df_datos2

C:\Users\franc\AppData\Local\Temp\ipykernel_21952\3863953836.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_datos2.dropna(inplace=True)

,01-06-2023,71.751081,741.2586709,813.0097519,158.2868437,971.2965956,169.2368437,0,0.1,454.6512211,...,73.6272.3,0.43,73.6272.4,0.44,24300,49.3272,24.3,0.45,0.46,0.47
0,02-06-2023,77.786585,721.654678,799.441263,102.228434,901.669697,158.468434,0.000000,0.0,437.230326,...,73.627200,0.0,73.627200,0.0,24300.0000,49.32720,24.300000,0.0,0.0,0.0
1,03-06-2023,59.111785,761.441082,820.552867,82.348434,902.901301,158.468434,0.000000,0.0,460.610308,...,76.867200,0.0,76.867200,0.0,27540.0000,49.32720,27.540000,0.0,0.0,0.0
2,04-06-2023,130.019572,728.870138,858.889709,43.704473,902.594183,181.334473,76.126257,0.0,397.984318,...,76.867200,0.0,76.867200,0.0,27540.0000,49.32720,27.540000,0.0,0.0,0.0
3,05-06-2023,119.963528,711.879910,831.843438,98.582810,930.426248,188.439571,76.129482,0.0,385.946634,...,75.337200,0.0,75.337200,0.0,26010.0000,49.32720,26.010000,0.0,0.0,0.0
4,06-06-2023,109.504836,788.227235,897.732071,30.768410,928.500481,109.787970,76.127770,0.0,434.685641,...,117.265320,0.0,117.265320,0.0,26010.0000,91.25532,26.010000,0.0,0.0,0.0
5,07-06-2023,105.028577,793.821444,898.850022,48.306795,947.156817,63.902810,76.126940,0.0,415.125617,...,117.265320,0.0,117.265320,0.0,26010.0000,91.25532,26.010000,0.0,0.0,0.0
6,08-06-2023,116.710200,774.567194,891.277395,72.768410,964.045804,93.236844,74.320012,0.0,398.550522,...,117.265320,0.0,117.265320,0.0,26010.0000,91.25532,26.010000,0.0,0.0,0.0
7,09-06-2023,117.458353,778.686518,896.144871,70.292844,966.437715,189.236844,73.591828,0.0,408.201097,...,117.265320,0.0,117.265320,0.0,26010.0000,91.25532,26.010000,0.0,0.0,0.0
8,10-06-2023,113.811104,695.857907,809.669012,57.916844,867.585855,189.236844,76.129769,0.0,397.869107,...,67.938120,0.0,67.938120,0.0,26010.0000,41.92812,26.010000,0.0,0.0,0.0
9,11-06-2023,110.867632,759.801568,870.669200,72.986844,943.656044,189.236844,76.128990,0.0,414.319007,...,93.721680,0.0,93.721680,0.0,0.0000,93.72168,0.000000,0.0,0.0,0.0
10,12-06-2023,113.474374,741.316801,854.791175,87.236844,942.028019,189.236844,78.847376,0.0,386.859686,...,119.731680,0.0,119.731680,0.0,26010.0000,93.72168,26.010000,0.0,0.0,0.0
11,13-06-2023,117.662104,753.060271,870.722375,96.255478,966.977854,171.605478,78.844709,0.0,370.716965,...,121.261680,0.0,121.261680,0.0,27540.0000,93.72168,27.540000,0.0,0.0,0.0
12,14-06-2023,31.766485,833.694103,865.460588,115.651093,981.111681,167.651093,0.000000,0.0,437.513085,...,121.261680,0.0,121.261680,0.0,27540.0000,93.72168,27.540000,0.0,0.0,0.0
13,15-06-2023,50.223509,832.030292,882.253801,123.152810,1005.406611,183.902810,0.000000,0.0,460.630207,...,119.731680,0.0,119.731680,0.0,26010.0000,93.72168,26.010000,0.0,0.0,0.0
14,16-06-2023,66.989914,821.122967,888.112881,109.094571,997.207452,168.439571,0.000000,0.0,460.389580,...,117.177865,0.0,117.177865,0.0,23456.1852,93.72168,23.456185,0.0,0.0,0.0
15,17-06-2023,126.671593,665.669314,792.340907,94.604844,886.945751,189.236844,76.127991,0.0,391.661990,...,76.867200,0.0,76.867200,0.0,27540.0000,49.32720,27.540000,0.0,0.0,0.0
16,18-06-2023,114.699189,708.579514,823.278704,99.856844,923.135548,189.236844,76.129146,0.0,379.468750,...,117.177865,0.0,117.177865,0.0,23456.1852,93.72168,23.456185,0.0,0.0,0.0
17,19-06-2023,111.697904,779.976200,891.674104,78.746844,970.420948,189.236844,76.129081,0.0,402.574096,...,117.177865,0.0,117.177865,0.0,23456.1852,93.72168,23.456185,0.0,0.0,0.0
18,20-06-2023,89.711154,801.915020,891.626175,87.236844,978.863018,189.236844,76.127909,0.0,406.922848,...,109.778785,0.0,109.778785,0.0,23456.1852,86.32260,23.456185,0.0,0.0,0.0
19,21-06-2023,104.758454,781.202470,885.960923,75.383288,961.344212,177.383288,76.126818,0.0,404.071352,...,109.778785,0.0,109.778785,0.0,23456.1852,86.32260,23.456185,0.0,0.0,0.0
20,22-06-2023,105.714213,813.211751,918.925964,89.236844,1008.162808,189.236844,76.127851,0.0,433.686015,...,109.778785,0.0,109.778785,0.0,23456.1852,86.32260,23.456185,0.0,0.0,0.0
21,23-06-2023,90.023930,797.167029,887.190959,78.744067,965.935026,160.744067,76.129064,0.0,402.186826,...,112.245145,0.0,112.245145,0.0,23456.1852,88.78896,23.456185,0.0,0.0,0.0
22,24-06-2023,120.994153,716.286075,837.280229,86.470764,923.750992,189.236844,101.429810,0.0,359.267080,...,71.934480,0.0,71.934480,0.0,27540.0000,44.39448,27.540000,0.0,0.0,0.0
23,25-06-2023,120.782764,687.905356,808.688120,87.236844,895.924963,189.236844,100.483887,0.0,361.320602,...,44.394480,0.0,44.394480,0.0,0.0000,44.39448,0.000000,0.0,0.0,0.0
24,26-06-2023,141.719281,747.895165,889.614446,68.439570,958.054017,188.439571,99.238948,0.0,372.500573,...,116.328960,0.0,116.328960,0.0,27540.0000,88.78896,27.540000,0.0,0.0,0.0
25,27-06-2023,147.251099,741.143502,888.394600,30.768410,919.163010,150.768410,99.238751,0.0,380.925628,...,121.261680,0.0,121.261680,0.0,27540.0000,93.72168,27.540000,0.0,0.0,0.0
26,28-06-2023,145.232901,702.256996,847.489897,81.914854,929.404751,138.914854,98.180150,0.0,338.737415,...,121.261680,0.0,121.261680,0.0,27540.0000,93.72168,27.540000,0.0,0.0,0.0
27,29-06-2023,116.489959,741.178336,857.668295,85.399130,943.067425,150.768410,76.128933,0.0,399.289922,...,93.721680,0.0,93.721680,0.0,0.0000,93.72168,0.000000,0.0,0.0,0.0
28,30-06-2023,129.191617,703.622235,832.813852,98.882517,931.696369,155.882517,92.051735,0.0,352.326377,...,93.721680,0.0,93.721680,0.0,0.0000,93.72168,0.000000,0.0,0.0,0.0

Eliminamos las columnas cuyos valores son ceros

In [6]:
df_datos2.drop(df_datos2.columns[df_datos2.eq(0).all()], axis=1, inplace=True)
df_datos2

C:\Users\franc\AppData\Local\Temp\ipykernel_21952\3405847348.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_datos2.drop(df_datos2.columns[df_datos2.eq(0).all()], axis=1, inplace=True)

,01-06-2023,71.751081,741.2586709,813.0097519,158.2868437,971.2965956,169.2368437,0,454.6512211,454.6512211.1,...,66.24723938,71.74759875,146.7364927.1,137.36952,73.6272.2,73.6272.3,73.6272.4,24300,49.3272,24.3
0,02-06-2023,77.786585,721.654678,799.441263,102.228434,901.669697,158.468434,0.000000,437.230326,437.230326,...,65.698005,76.149239,146.736493,126.092670,73.627200,73.627200,73.627200,24300.0000,49.32720,24.300000
1,03-06-2023,59.111785,761.441082,820.552867,82.348434,902.901301,158.468434,0.000000,460.610308,460.610308,...,64.261268,72.077599,146.736493,135.131820,76.867200,76.867200,76.867200,27540.0000,49.32720,27.540000
2,04-06-2023,130.019572,728.870138,858.889709,43.704473,902.594183,181.334473,76.126257,397.984318,474.110575,...,80.946199,80.229243,146.736493,139.676220,76.867200,76.867200,76.867200,27540.0000,49.32720,27.540000
3,05-06-2023,119.963528,711.879910,831.843438,98.582810,930.426248,188.439571,76.129482,385.946634,462.076116,...,83.373250,76.540243,134.516629,141.977380,75.337200,75.337200,75.337200,26010.0000,49.32720,26.010000
4,06-06-2023,109.504836,788.227235,897.732071,30.768410,928.500481,109.787970,76.127770,434.685641,510.813411,...,95.640142,39.496568,134.516629,172.704014,117.265320,117.265320,117.265320,26010.0000,91.25532,26.010000
5,07-06-2023,105.028577,793.821444,898.850022,48.306795,947.156817,63.902810,76.126940,415.125617,491.252557,...,95.710704,64.964064,129.657377,153.143160,117.265320,117.265320,117.265320,26010.0000,91.25532,26.010000
6,08-06-2023,116.710200,774.567194,891.277395,72.768410,964.045804,93.236844,74.320012,398.550522,472.870535,...,78.162209,76.242838,146.736493,138.436180,117.265320,117.265320,117.265320,26010.0000,91.25532,26.010000
7,09-06-2023,117.458353,778.686518,896.144871,70.292844,966.437715,189.236844,73.591828,408.201097,481.792925,...,78.609684,71.740449,146.736493,147.358570,117.265320,117.265320,117.265320,26010.0000,91.25532,26.010000
8,10-06-2023,113.811104,695.857907,809.669012,57.916844,867.585855,189.236844,76.129769,397.869107,473.998877,...,85.038229,39.496568,143.197217,135.889480,67.938120,67.938120,67.938120,26010.0000,41.92812,26.010000
9,11-06-2023,110.867632,759.801568,870.669200,72.986844,943.656044,189.236844,76.128990,414.319007,490.447997,...,91.295504,48.467526,146.736493,152.338600,93.721680,93.721680,93.721680,0.0000,93.72168,0.000000
10,12-06-2023,113.474374,741.316801,854.791175,87.236844,942.028019,189.236844,78.847376,386.859686,465.707062,...,82.098110,40.517831,146.736493,162.831460,119.731680,119.731680,119.731680,26010.0000,93.72168,26.010000
11,13-06-2023,117.662104,753.060271,870.722375,96.255478,966.977854,171.605478,78.844709,370.716965,449.561674,...,110.538110,48.870765,140.490147,147.280320,121.261680,121.261680,121.261680,27540.0000,93.72168,27.540000
12,14-06-2023,31.766485,833.694103,865.460588,115.651093,981.111681,167.651093,0.000000,437.513085,437.513085,...,101.959706,62.388570,142.337547,153.375912,121.261680,121.261680,121.261680,27540.0000,93.72168,27.540000
13,15-06-2023,50.223509,832.030292,882.253801,123.152810,1005.406611,183.902810,0.000000,460.630207,460.630207,...,118.921879,40.632488,142.337547,146.578512,119.731680,119.731680,119.731680,26010.0000,93.72168,26.010000
14,16-06-2023,66.989914,821.122967,888.112881,109.094571,997.207452,168.439571,0.000000,460.389580,460.389580,...,80.045333,88.162556,142.337547,147.717312,117.177865,117.177865,117.177865,23456.1852,93.72168,23.456185
15,17-06-2023,126.671593,665.669314,792.340907,94.604844,886.945751,189.236844,76.127991,391.661990,467.789980,...,0.000000,107.584157,140.099570,110.165364,76.867200,76.867200,76.867200,27540.0000,49.32720,27.540000
16,18-06-2023,114.699189,708.579514,823.278704,99.856844,923.135548,189.236844,76.129146,379.468750,455.597897,...,0.000000,110.403371,140.099570,117.488500,117.177865,117.177865,117.177865,23456.1852,93.72168,23.456185
17,19-06-2023,111.697904,779.976200,891.674104,78.746844,970.420948,189.236844,76.129081,402.574096,478.703177,...,89.940441,65.753050,140.099570,140.593780,117.177865,117.177865,117.177865,23456.1852,93.72168,23.456185
18,20-06-2023,89.711154,801.915020,891.626175,87.236844,978.863018,189.236844,76.127909,406.922848,483.050757,...,95.717484,62.979577,140.099570,145.518580,109.778785,109.778785,109.778785,23456.1852,86.32260,23.456185
19,21-06-2023,104.758454,781.202470,885.960923,75.383288,961.344212,177.383288,76.126818,404.071352,480.198170,...,116.812168,43.098932,136.072868,141.977380,109.778785,109.778785,109.778785,23456.1852,86.32260,23.456185
20,22-06-2023,105.714213,813.211751,918.925964,89.236844,1008.162808,189.236844,76.127851,433.686015,509.813866,...,121.738007,39.343136,138.252170,171.593076,109.778785,109.778785,109.778785,23456.1852,86.32260,23.456185
21,23-06-2023,90.023930,797.167029,887.190959,78.744067,965.935026,160.744067,76.129064,402.186826,478.315890,...,125.130604,33.247150,138.252170,140.206493,112.245145,112.245145,112.245145,23456.1852,88.78896,23.456185
22,24-06-2023,120.994153,716.286075,837.280229,86.470764,923.750992,189.236844,101.429810,359.267080,460.696890,...,125.072876,35.077466,144.498516,144.677860,71.934480,71.934480,71.934480,27540.0000,44.39448,27.540000
23,25-06-2023,120.782764,687.905356,808.688120,87.236844,895.924963,189.236844,100.483887,361.320602,461.804489,...,121.731726,34.020932,146.736493,169.386173,44.394480,44.394480,44.394480,0.0000,44.39448,0.000000
24,26-06-2023,141.719281,747.895165,889.614446,68.439570,958.054017,188.439571,99.238948,372.500573,471.739522,...,120.527898,38.680519,142.337547,128.353178,116.328960,116.328960,116.328960,27540.0000,88.78896,27.540000
25,27-06-2023,147.251099,741.143502,888.394600,30.768410,919.163010,150.768410,99.238751,380.925628,480.164378,...,122.716676,33.758581,130.493285,118.944853,121.261680,121.261680,121.261680,27540.0000,93.72168,27.540000
26,28-06-2023,145.232901,702.256996,847.489897,81.914854,929.404751,138.914854,98.180150,338.737415,436.917565,...,0.000000,152.946622,136.364029,76.758240,121.261680,121.261680,121.261680,27540.0000,93.72168,27.540000
27,29-06-2023,116.489959,741.178336,857.668295,85.399130,943.067425,150.768410,76.128933,399.289922,475.418856,...,0.000000,152.163730,136.364029,137.800860,93.721680,93.721680,93.721680,0.0000,93.72168,0.000000
28,30-06-2023,129.191617,703.622235,832.813852,98.882517,931.696369,155.882517,92.051735,352.326377,444.378112,...,0.000000,154.150476,140.563583,135.224035,93.721680,93.721680,93.721680,0.0000,93.72168,0.000000

### Creamos nuevos dataframes más pequeños que contengan la información de forma separada

In [7]:
df_consolidado = df_datos2.iloc[:, 0:7]
#df_consolidado.set_index(['01-06-2023', '71.751081', '741.2586709', '813.0097519', '158.2868437', '971.2965956', '169.2368437'], inplace=True)
cols_consolidado = ['fecha', 'extraccion mineral', 'extraccion lastre', 'total extraccion', 'remanejo', 'movimiento total', 'mineral a chancado']
df_consolidado.columns = cols_consolidado
df_consolidado

,fecha,extraccion mineral,extraccion lastre,total extraccion,remanejo,movimiento total,mineral a chancado
0,02-06-2023,77.786585,721.654678,799.441263,102.228434,901.669697,158.468434
1,03-06-2023,59.111785,761.441082,820.552867,82.348434,902.901301,158.468434
2,04-06-2023,130.019572,728.870138,858.889709,43.704473,902.594183,181.334473
3,05-06-2023,119.963528,711.879910,831.843438,98.582810,930.426248,188.439571
4,06-06-2023,109.504836,788.227235,897.732071,30.768410,928.500481,109.787970
5,07-06-2023,105.028577,793.821444,898.850022,48.306795,947.156817,63.902810
6,08-06-2023,116.710200,774.567194,891.277395,72.768410,964.045804,93.236844
7,09-06-2023,117.458353,778.686518,896.144871,70.292844,966.437715,189.236844
8,10-06-2023,113.811104,695.857907,809.669012,57.916844,867.585855,189.236844
9,11-06-2023,110.867632,759.801568,870.669200,72.986844,943.656044,189.236844
10,12-06-2023,113.474374,741.316801,854.791175,87.236844,942.028019,189.236844
11,13-06-2023,117.662104,753.060271,870.722375,96.255478,966.977854,171.605478
12,14-06-2023,31.766485,833.694103,865.460588,115.651093,981.111681,167.651093
13,15-06-2023,50.223509,832.030292,882.253801,123.152810,1005.406611,183.902810
14,16-06-2023,66.989914,821.122967,888.112881,109.094571,997.207452,168.439571
15,17-06-2023,126.671593,665.669314,792.340907,94.604844,886.945751,189.236844
16,18-06-2023,114.699189,708.579514,823.278704,99.856844,923.135548,189.236844
17,19-06-2023,111.697904,779.976200,891.674104,78.746844,970.420948,189.236844
18,20-06-2023,89.711154,801.915020,891.626175,87.236844,978.863018,189.236844
19,21-06-2023,104.758454,781.202470,885.960923,75.383288,961.344212,177.383288
20,22-06-2023,105.714213,813.211751,918.925964,89.236844,1008.162808,189.236844
21,23-06-2023,90.023930,797.167029,887.190959,78.744067,965.935026,160.744067
22,24-06-2023,120.994153,716.286075,837.280229,86.470764,923.750992,189.236844
23,25-06-2023,120.782764,687.905356,808.688120,87.236844,895.924963,189.236844
24,26-06-2023,141.719281,747.895165,889.614446,68.439570,958.054017,188.439571
25,27-06-2023,147.251099,741.143502,888.394600,30.768410,919.163010,150.768410
26,28-06-2023,145.232901,702.256996,847.489897,81.914854,929.404751,138.914854
27,29-06-2023,116.489959,741.178336,857.668295,85.399130,943.067425,150.768410
28,30-06-2023,129.191617,703.622235,832.813852,98.882517,931.696369,155.882517

In [8]:
df_esperanza = df_datos2.iloc[:, [0] + list(range(7, 14))]
cols_esperanza = ['fecha', 'extraccion mineral', 'extraccion lastre', 'total extraccion', 'remanejo', 'movimiento total', 'mineral a chancado', 'extraccion fase 8']
df_esperanza.columns = cols_esperanza
df_esperanza

,fecha,extraccion mineral,extraccion lastre,total extraccion,remanejo,movimiento total,mineral a chancado,extraccion fase 8
0,02-06-2023,0.000000,437.230326,437.230326,0.0,437.230326,120.0,0.000000
1,03-06-2023,0.000000,460.610308,460.610308,0.0,460.610308,120.0,0.000000
2,04-06-2023,76.126257,397.984318,474.110575,0.0,474.110575,120.0,76.127333
3,05-06-2023,76.129482,385.946634,462.076116,0.0,462.076116,120.0,76.127333
4,06-06-2023,76.127770,434.685641,510.813411,0.0,510.813411,60.0,76.127333
5,07-06-2023,76.126940,415.125617,491.252557,0.0,491.252557,0.0,76.127333
6,08-06-2023,74.320012,398.550522,472.870535,0.0,472.870535,24.0,76.127333
7,09-06-2023,73.591828,408.201097,481.792925,0.0,481.792925,120.0,76.127333
8,10-06-2023,76.129769,397.869107,473.998877,0.0,473.998877,120.0,76.127333
9,11-06-2023,76.128990,414.319007,490.447997,0.0,490.447997,120.0,76.127333
10,12-06-2023,78.847376,386.859686,465.707062,0.0,465.707062,120.0,78.846167
11,13-06-2023,78.844709,370.716965,449.561674,0.0,449.561674,120.0,78.846167
12,14-06-2023,0.000000,437.513085,437.513085,0.0,437.513085,120.0,0.000000
13,15-06-2023,0.000000,460.630207,460.630207,30.0,490.630207,120.0,0.000000
14,16-06-2023,0.000000,460.389580,460.389580,0.0,460.389580,100.0,0.000000
15,17-06-2023,76.127991,391.661990,467.789980,30.0,497.789980,120.0,76.127333
16,18-06-2023,76.129146,379.468750,455.597897,45.0,500.597897,120.0,76.127333
17,19-06-2023,76.129081,402.574096,478.703177,0.0,478.703177,120.0,76.127333
18,20-06-2023,76.127909,406.922848,483.050757,0.0,483.050757,120.0,76.127333
19,21-06-2023,76.126818,404.071352,480.198170,0.0,480.198170,120.0,76.127333
20,22-06-2023,76.127851,433.686015,509.813866,0.0,509.813866,120.0,76.127333
21,23-06-2023,76.129064,402.186826,478.315890,0.0,478.315890,100.0,76.127333
22,24-06-2023,101.429810,359.267080,460.696890,0.0,460.696890,120.0,101.956295
23,25-06-2023,100.483887,361.320602,461.804489,0.0,461.804489,120.0,101.956295
24,26-06-2023,99.238948,372.500573,471.739522,0.0,471.739522,120.0,99.237461
25,27-06-2023,99.238751,380.925628,480.164378,0.0,480.164378,120.0,99.237461
26,28-06-2023,98.180150,338.737415,436.917565,0.0,436.917565,120.0,98.177261
27,29-06-2023,76.128933,399.289922,475.418856,0.0,475.418856,120.0,76.127333
28,30-06-2023,92.051735,352.326377,444.378112,0.0,444.378112,100.0,92.049191

In [9]:
df_tesoro = df_datos2.iloc[:, [0] + list(range(14, 21))]
cols_tesoro = ['fecha', 'extraccion lastre', 'total extraccion', 'remanejo', 'movimiento total', 'mineral a chancado', 'tc remanejo', 'tc mov total']
df_tesoro.columns = cols_tesoro
df_tesoro

,fecha,extraccion lastre,total extraccion,remanejo,movimiento total,mineral a chancado,tc remanejo,tc mov total
0,02-06-2023,73.627200,73.627200,18.000000,91.627200,0.000000,0.000000,0.000000
1,03-06-2023,76.867200,76.867200,18.000000,94.867200,0.000000,0.000000,0.000000
2,04-06-2023,76.867200,76.867200,40.866040,117.733240,22.866040,22.866040,22.866040
3,05-06-2023,75.337200,75.337200,38.582810,113.920010,30.768410,30.768410,30.768410
4,06-06-2023,117.265320,117.265320,30.768410,148.033730,30.768410,30.768410,30.768410
5,07-06-2023,117.265320,117.265320,30.768410,148.033730,30.768410,30.768410,30.768410
6,08-06-2023,117.265320,117.265320,48.768410,166.033730,30.768410,30.768410,30.768410
7,09-06-2023,117.265320,117.265320,37.104410,154.369730,30.768410,30.768410,30.768410
8,10-06-2023,67.938120,67.938120,48.768410,116.706530,30.768410,30.768410,30.768410
9,11-06-2023,93.721680,93.721680,48.768410,142.490090,30.768410,30.768410,30.768410
10,12-06-2023,119.731680,119.731680,48.768410,168.500090,30.768410,30.768410,30.768410
11,13-06-2023,121.261680,121.261680,48.768410,170.030090,30.768410,30.768410,30.768410
12,14-06-2023,121.261680,121.261680,27.979932,149.241612,9.979932,9.979932,9.979932
13,15-06-2023,119.731680,119.731680,48.768410,168.500090,30.768410,30.768410,30.768410
14,16-06-2023,117.177865,117.177865,48.768410,165.946275,30.768410,30.768410,30.768410
15,17-06-2023,76.867200,76.867200,30.768410,107.635610,30.768410,30.768410,30.768410
16,18-06-2023,117.177865,117.177865,30.768410,147.946275,30.768410,30.768410,30.768410
17,19-06-2023,117.177865,117.177865,48.768410,165.946275,30.768410,30.768410,30.768410
18,20-06-2023,109.778785,109.778785,48.768410,158.547195,30.768410,30.768410,30.768410
19,21-06-2023,109.778785,109.778785,36.914854,146.693640,18.914854,18.914854,18.914854
20,22-06-2023,109.778785,109.778785,30.768410,140.547195,30.768410,30.768410,30.768410
21,23-06-2023,112.245145,112.245145,48.768410,161.013555,30.768410,30.768410,30.768410
22,24-06-2023,71.934480,71.934480,48.002330,119.936810,30.768410,30.768410,30.768410
23,25-06-2023,44.394480,44.394480,48.768410,93.162890,30.768410,30.768410,30.768410
24,26-06-2023,116.328960,116.328960,30.768410,147.097370,30.768410,30.768410,30.768410
25,27-06-2023,121.261680,121.261680,30.768410,152.030090,30.768410,30.768410,30.768410
26,28-06-2023,121.261680,121.261680,36.914854,158.176534,18.914854,18.914854,18.914854
27,29-06-2023,93.721680,93.721680,40.399130,134.120810,30.768410,30.768410,30.768410
28,30-06-2023,93.721680,93.721680,48.768410,142.490090,30.768410,30.768410,30.768410

In [10]:
df_encuentro = df_datos2.iloc[:, [0] + list(range(21, 29))]
cols_encuentro = ['fecha', 'extraccion mineral', 'extraccion marginal', 'extraccion lastre', 'total extraccion', 'remanejo', 'movimiento total', 'mineral a chancado', 'extraccion esp fase 7']
df_encuentro.columns = cols_encuentro
df_encuentro

,fecha,extraccion mineral,extraccion marginal,extraccion lastre,total extraccion,remanejo,movimiento total,mineral a chancado,extraccion esp fase 7
0,02-06-2023,36.203813,41.582772,68.949908,146.736493,4.228434,150.964926,38.468434,311.137656
1,03-06-2023,37.278666,21.833119,87.624708,146.736493,4.348434,151.084926,38.468434,325.478488
2,04-06-2023,46.277208,7.616107,92.843178,146.736493,2.838434,149.574927,38.468434,258.307021
3,05-06-2023,41.006098,2.827948,90.682583,134.516629,0.000000,134.516629,37.671161,243.971402
4,06-06-2023,28.632677,4.744389,101.139563,134.516629,0.000000,134.516629,19.019561,261.982063
5,07-06-2023,16.226774,12.674863,100.755740,129.657377,17.538385,147.195762,33.134400,261.982063
6,08-06-2023,40.553511,1.836677,104.346305,146.736493,0.000000,146.736493,38.468434,258.307021
7,09-06-2023,37.548933,6.317592,102.869968,146.736493,3.188434,149.924926,38.468434,258.307021
8,10-06-2023,31.598341,6.082993,105.515883,143.197217,9.148434,152.345651,38.468434,261.982063
9,11-06-2023,16.552178,18.186464,111.997851,146.736493,24.218434,170.954926,38.468434,261.982063
10,12-06-2023,0.000000,34.626999,112.109494,146.736493,38.468434,185.204926,38.468434,224.029435
11,13-06-2023,18.659766,20.157629,101.672752,140.490147,2.487068,142.977215,20.837068,223.435188
12,14-06-2023,10.674054,21.092431,110.571062,142.337547,27.671161,170.008708,37.671161,284.137173
13,15-06-2023,19.807305,30.416204,92.114038,142.337547,14.384400,156.721947,33.134400,314.051695
14,16-06-2023,18.768218,48.221696,75.347633,142.337547,20.326161,162.663708,37.671161,312.672268
15,17-06-2023,22.309488,28.234115,89.555968,140.099570,18.836434,158.936004,38.468434,281.497283
16,18-06-2023,15.311145,23.258898,101.529528,140.099570,24.088434,164.188004,38.468434,261.982063
17,19-06-2023,8.587620,26.981203,104.530748,140.099570,29.978434,170.078004,38.468434,261.982063
18,20-06-2023,1.402577,12.180668,126.516325,140.099570,38.468434,178.568004,38.468434,261.404844
19,21-06-2023,0.000000,28.631635,107.441233,136.072868,38.468434,174.541302,38.468434,262.093457
20,22-06-2023,0.000000,29.586362,108.665808,138.252170,38.468434,176.720604,38.468434,262.093457
21,23-06-2023,0.000000,13.894866,124.357304,138.252170,29.975657,168.227827,29.975657,261.982063
22,24-06-2023,0.000000,19.564343,124.934173,144.498516,38.468434,182.966950,38.468434,214.062736
23,25-06-2023,2.504287,17.794590,126.437616,146.736493,38.468434,185.204926,38.468434,190.462021
24,26-06-2023,13.180529,29.299804,99.857214,142.337547,37.671161,180.008708,37.671161,244.148882
25,27-06-2023,18.428432,29.583916,82.480937,130.493285,0.000000,130.493285,0.000000,261.982063
26,28-06-2023,17.286672,29.766079,89.311279,136.364029,0.000000,136.364029,0.000000,261.982063
27,29-06-2023,11.824663,28.536363,96.003004,136.364029,0.000000,136.364029,0.000000,261.490662
28,30-06-2023,18.255846,18.884036,103.423701,140.563583,25.114107,165.677691,25.114107,217.104886

In [11]:
df_esp_sur = df_datos2.iloc[:, [0] + list(range(29, 40))]
cols_esp_sur = ['fecha', 'extraccion mineral', 'oxido y mixtos', 'extraccion lastre', 'total extraccion', 'remanejo', 'movimiento total', 'mineral a chancado', 'ext espsur fase 2', 'ext espsur fase 3', 'ext oxe fase 4', 'ext fase 10']
df_esp_sur.columns = cols_esp_sur
df_esp_sur

,fecha,extraccion mineral,oxido y mixtos,extraccion lastre,total extraccion,remanejo,movimiento total,mineral a chancado,ext espsur fase 2,ext espsur fase 3,ext oxe fase 4,ext fase 10
0,02-06-2023,0.000000,50.000001,91.847244,141.847245,80.0,221.847245,40.0,65.698005,76.149239,146.736493,126.092670
1,03-06-2023,0.000000,63.500001,72.838865,136.338866,60.0,196.338866,60.0,64.261268,72.077599,146.736493,135.131820
2,04-06-2023,0.000000,83.869571,77.305871,161.175442,0.0,161.175442,60.0,80.946199,80.229243,146.736493,139.676220
3,05-06-2023,0.000000,76.121968,83.791525,159.913493,60.0,219.913493,60.0,83.373250,76.540243,134.516629,141.977380
4,06-06-2023,0.000000,87.351311,47.785399,135.136710,0.0,135.136710,60.0,95.640142,39.496568,134.516629,172.704014
5,07-06-2023,10.599522,25.196605,124.878641,160.674768,0.0,160.674768,0.0,95.710704,64.964064,129.657377,153.143160
6,08-06-2023,0.000000,43.097130,111.307917,154.405047,24.0,178.405047,0.0,78.162209,76.242838,146.736493,138.436180
7,09-06-2023,0.000000,39.420854,110.929280,150.350134,30.0,180.350134,60.0,78.609684,71.740449,146.736493,147.358570
8,10-06-2023,0.000000,56.668027,67.866770,124.534797,0.0,124.534797,60.0,85.038229,39.496568,143.197217,135.889480
9,11-06-2023,0.000000,63.000005,76.763025,139.763031,0.0,139.763031,45.0,91.295504,48.467526,146.736493,152.338600
10,12-06-2023,15.013736,66.431007,41.171198,122.615941,0.0,122.615941,45.0,82.098110,40.517831,146.736493,162.831460
11,13-06-2023,0.000000,102.296712,57.112162,159.408874,45.0,204.408874,0.0,110.538110,48.870765,140.490147,147.280320
12,14-06-2023,0.000000,84.652479,79.695797,164.348276,60.0,224.348276,60.0,101.959706,62.388570,142.337547,153.375912
13,15-06-2023,0.000000,101.232726,58.321641,159.554367,30.0,189.554367,60.0,118.921879,40.632488,142.337547,146.578512
14,16-06-2023,0.000000,52.090632,116.117257,168.207889,40.0,208.207889,60.0,80.045333,88.162556,142.337547,147.717312
15,17-06-2023,0.000000,0.000000,107.584157,107.584157,15.0,122.584157,0.0,0.000000,107.584157,140.099570,110.165364
16,18-06-2023,0.000000,0.000000,110.403371,110.403371,0.0,110.403371,0.0,0.000000,110.403371,140.099570,117.488500
17,19-06-2023,0.000000,66.296367,89.397124,155.693491,0.0,155.693491,45.0,89.940441,65.753050,140.099570,140.593780
18,20-06-2023,0.000000,95.298034,63.399028,158.697062,0.0,158.697062,45.0,95.717484,62.979577,140.099570,145.518580
19,21-06-2023,0.000000,116.200013,43.711087,159.911100,0.0,159.911100,60.0,116.812168,43.098932,136.072868,141.977380
20,22-06-2023,0.000000,121.000009,40.081134,161.081143,20.0,181.081143,40.0,121.738007,39.343136,138.252170,171.593076
21,23-06-2023,0.000000,123.422203,34.955550,158.377754,0.0,158.377754,40.0,125.130604,33.247150,138.252170,140.206493
22,24-06-2023,0.000000,99.346304,60.804038,160.150342,0.0,160.150342,60.0,125.072876,35.077466,144.498516,144.677860
23,25-06-2023,0.000000,119.582098,36.170560,155.752658,0.0,155.752658,45.0,121.731726,34.020932,146.736493,169.386173
24,26-06-2023,0.000000,119.729416,39.479002,159.208418,0.0,159.208418,45.0,120.527898,38.680519,142.337547,128.353178
25,27-06-2023,0.000000,118.297003,38.178254,156.475257,0.0,156.475257,45.0,122.716676,33.758581,130.493285,118.944853
26,28-06-2023,0.000000,0.000000,152.946622,152.946622,45.0,197.946622,0.0,0.000000,152.946622,136.364029,76.758240
27,29-06-2023,0.000000,0.000000,152.163730,152.163730,45.0,197.163730,0.0,0.000000,152.163730,136.364029,137.800860
28,30-06-2023,0.000000,0.000000,154.150476,154.150476,25.0,179.150476,0.0,0.000000,154.150476,140.563583,135.224035

In [12]:
df_llano = df_datos2.iloc[:, [0] + list(range(40, 46))]
cols_llano = ['fecha', 'extraccion lastre', 'total extraccion', 'movimiento total', 'movimiento cttas', 'ext llano fase 1', 'ext llano fase 2']
df_llano.columns = cols_llano
df_llano

,fecha,extraccion lastre,total extraccion,movimiento total,movimiento cttas,ext llano fase 1,ext llano fase 2
0,02-06-2023,73.627200,73.627200,73.627200,24300.0000,49.32720,24.300000
1,03-06-2023,76.867200,76.867200,76.867200,27540.0000,49.32720,27.540000
2,04-06-2023,76.867200,76.867200,76.867200,27540.0000,49.32720,27.540000
3,05-06-2023,75.337200,75.337200,75.337200,26010.0000,49.32720,26.010000
4,06-06-2023,117.265320,117.265320,117.265320,26010.0000,91.25532,26.010000
5,07-06-2023,117.265320,117.265320,117.265320,26010.0000,91.25532,26.010000
6,08-06-2023,117.265320,117.265320,117.265320,26010.0000,91.25532,26.010000
7,09-06-2023,117.265320,117.265320,117.265320,26010.0000,91.25532,26.010000
8,10-06-2023,67.938120,67.938120,67.938120,26010.0000,41.92812,26.010000
9,11-06-2023,93.721680,93.721680,93.721680,0.0000,93.72168,0.000000
10,12-06-2023,119.731680,119.731680,119.731680,26010.0000,93.72168,26.010000
11,13-06-2023,121.261680,121.261680,121.261680,27540.0000,93.72168,27.540000
12,14-06-2023,121.261680,121.261680,121.261680,27540.0000,93.72168,27.540000
13,15-06-2023,119.731680,119.731680,119.731680,26010.0000,93.72168,26.010000
14,16-06-2023,117.177865,117.177865,117.177865,23456.1852,93.72168,23.456185
15,17-06-2023,76.867200,76.867200,76.867200,27540.0000,49.32720,27.540000
16,18-06-2023,117.177865,117.177865,117.177865,23456.1852,93.72168,23.456185
17,19-06-2023,117.177865,117.177865,117.177865,23456.1852,93.72168,23.456185
18,20-06-2023,109.778785,109.778785,109.778785,23456.1852,86.32260,23.456185
19,21-06-2023,109.778785,109.778785,109.778785,23456.1852,86.32260,23.456185
20,22-06-2023,109.778785,109.778785,109.778785,23456.1852,86.32260,23.456185
21,23-06-2023,112.245145,112.245145,112.245145,23456.1852,88.78896,23.456185
22,24-06-2023,71.934480,71.934480,71.934480,27540.0000,44.39448,27.540000
23,25-06-2023,44.394480,44.394480,44.394480,0.0000,44.39448,0.000000
24,26-06-2023,116.328960,116.328960,116.328960,27540.0000,88.78896,27.540000
25,27-06-2023,121.261680,121.261680,121.261680,27540.0000,93.72168,27.540000
26,28-06-2023,121.261680,121.261680,121.261680,27540.0000,93.72168,27.540000
27,29-06-2023,93.721680,93.721680,93.721680,0.0000,93.72168,0.000000
28,30-06-2023,93.721680,93.721680,93.721680,0.0000,93.72168,0.000000

### Formateamos los datos

Vemos que tipo de datos tenemos

In [13]:
df_consolidado.dtypes

fecha                  object
extraccion mineral    float64
extraccion lastre     float64
total extraccion      float64
remanejo              float64
movimiento total      float64
mineral a chancado    float64
dtype: object

Notamos que podemos cambiar el tipo de formato a la fecha

In [14]:
df_consolidado['fecha'] = pd.to_datetime(df_consolidado['fecha'], format='%d-%m-%Y').dt.strftime('%Y-%m-%d')
df_consolidado.dtypes

fecha                  object
extraccion mineral    float64
extraccion lastre     float64
total extraccion      float64
remanejo              float64
movimiento total      float64
mineral a chancado    float64
dtype: object

Aplicamos lo mismo para los otros dataframes

In [15]:
df_esperanza['fecha'] = pd.to_datetime(df_esperanza['fecha'], format='%d-%m-%Y').dt.strftime('%Y-%m-%d')
df_esperanza.dtypes

C:\Users\franc\AppData\Local\Temp\ipykernel_21952\3212456421.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_esperanza['fecha'] = pd.to_datetime(df_esperanza['fecha'], format='%d-%m-%Y').dt.strftime('%Y-%m-%d')

fecha                  object
extraccion mineral    float64
extraccion lastre     float64
total extraccion      float64
remanejo              float64
movimiento total      float64
mineral a chancado    float64
extraccion fase 8     float64
dtype: object

In [16]:
df_tesoro['fecha'] = pd.to_datetime(df_tesoro['fecha'], format='%d-%m-%Y').dt.strftime('%Y-%m-%d')
df_tesoro.dtypes

C:\Users\franc\AppData\Local\Temp\ipykernel_21952\1647351349.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_tesoro['fecha'] = pd.to_datetime(df_tesoro['fecha'], format='%d-%m-%Y').dt.strftime('%Y-%m-%d')

fecha                  object
extraccion lastre     float64
total extraccion      float64
remanejo              float64
movimiento total      float64
mineral a chancado    float64
tc remanejo           float64
tc mov total          float64
dtype: object

In [17]:
df_encuentro['fecha'] = pd.to_datetime(df_encuentro['fecha'], format='%d-%m-%Y').dt.strftime('%Y-%m-%d')
df_encuentro.dtypes

C:\Users\franc\AppData\Local\Temp\ipykernel_21952\4025327557.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_encuentro['fecha'] = pd.to_datetime(df_encuentro['fecha'], format='%d-%m-%Y').dt.strftime('%Y-%m-%d')

fecha                     object
extraccion mineral       float64
extraccion marginal      float64
extraccion lastre        float64
total extraccion         float64
remanejo                 float64
movimiento total         float64
mineral a chancado       float64
extraccion esp fase 7    float64
dtype: object

In [18]:
df_esp_sur['fecha'] = pd.to_datetime(df_esp_sur['fecha'], format='%d-%m-%Y').dt.strftime('%Y-%m-%d')
df_esp_sur.dtypes

C:\Users\franc\AppData\Local\Temp\ipykernel_21952\2034976621.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_esp_sur['fecha'] = pd.to_datetime(df_esp_sur['fecha'], format='%d-%m-%Y').dt.strftime('%Y-%m-%d')

fecha                  object
extraccion mineral    float64
oxido y mixtos        float64
extraccion lastre     float64
total extraccion      float64
remanejo              float64
movimiento total      float64
mineral a chancado    float64
ext espsur fase 2     float64
ext espsur fase 3     float64
ext oxe fase 4        float64
ext fase 10           float64
dtype: object

In [19]:
df_llano['fecha'] = pd.to_datetime(df_llano['fecha'], format='%d-%m-%Y').dt.strftime('%Y-%m-%d')
df_llano.dtypes

C:\Users\franc\AppData\Local\Temp\ipykernel_21952\4170054853.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_llano['fecha'] = pd.to_datetime(df_llano['fecha'], format='%d-%m-%Y').dt.strftime('%Y-%m-%d')

fecha                 object
extraccion lastre    float64
total extraccion     float64
movimiento total     float64
movimiento cttas     float64
ext llano fase 1     float64
ext llano fase 2     float64
dtype: object

## 3. Load

A continuación cargamos nuestros dataframes a una base de datos en PostgreSQL

In [20]:
cols_plan = ['fecha', 'rajo', 'extraccion_mineral', 'extraccion_oxidos_mixtos', 'extraccion_lastre', 'total_extraccion', 'remanejo', 'movimiento_total', 'chancado']
df_plan1 = pd.DataFrame(columns=cols_plan)
df_plan2 = pd.DataFrame(columns=cols_plan)
df_plan3 = pd.DataFrame(columns=cols_plan)
df_plan4 = pd.DataFrame(columns=cols_plan)
df_plan5 = pd.DataFrame(columns=cols_plan)
df_plan1

Empty DataFrame
Columns: [fecha, rajo, extraccion_mineral, extraccion_oxidos_mixtos, extraccion_lastre, total_extraccion, remanejo, movimiento_total, chancado]
Index: []

In [21]:
df_plan1['fecha'] = df_esperanza['fecha']
df_plan1['rajo'] = 'ESPERANZA'
df_plan1['extraccion_mineral'] = 0
df_plan1['extraccion_oxidos_mixtos'] = 0
df_plan1['extraccion_lastre'] = df_tesoro['extraccion lastre']
df_plan1['total_extraccion'] = df_tesoro['total extraccion']
df_plan1['remanejo'] = df_tesoro['remanejo']
df_plan1['movimiento_total'] = df_tesoro['movimiento total']
df_plan1['chancado'] = df_tesoro['mineral a chancado']
df_plan1

,fecha,rajo,extraccion_mineral,extraccion_oxidos_mixtos,extraccion_lastre,total_extraccion,remanejo,movimiento_total,chancado
0,2023-06-02,ESPERANZA,0,0,73.627200,73.627200,18.000000,91.627200,0.000000
1,2023-06-03,ESPERANZA,0,0,76.867200,76.867200,18.000000,94.867200,0.000000
2,2023-06-04,ESPERANZA,0,0,76.867200,76.867200,40.866040,117.733240,22.866040
3,2023-06-05,ESPERANZA,0,0,75.337200,75.337200,38.582810,113.920010,30.768410
4,2023-06-06,ESPERANZA,0,0,117.265320,117.265320,30.768410,148.033730,30.768410
5,2023-06-07,ESPERANZA,0,0,117.265320,117.265320,30.768410,148.033730,30.768410
6,2023-06-08,ESPERANZA,0,0,117.265320,117.265320,48.768410,166.033730,30.768410
7,2023-06-09,ESPERANZA,0,0,117.265320,117.265320,37.104410,154.369730,30.768410
8,2023-06-10,ESPERANZA,0,0,67.938120,67.938120,48.768410,116.706530,30.768410
9,2023-06-11,ESPERANZA,0,0,93.721680,93.721680,48.768410,142.490090,30.768410
10,2023-06-12,ESPERANZA,0,0,119.731680,119.731680,48.768410,168.500090,30.768410
11,2023-06-13,ESPERANZA,0,0,121.261680,121.261680,48.768410,170.030090,30.768410
12,2023-06-14,ESPERANZA,0,0,121.261680,121.261680,27.979932,149.241612,9.979932
13,2023-06-15,ESPERANZA,0,0,119.731680,119.731680,48.768410,168.500090,30.768410
14,2023-06-16,ESPERANZA,0,0,117.177865,117.177865,48.768410,165.946275,30.768410
15,2023-06-17,ESPERANZA,0,0,76.867200,76.867200,30.768410,107.635610,30.768410
16,2023-06-18,ESPERANZA,0,0,117.177865,117.177865,30.768410,147.946275,30.768410
17,2023-06-19,ESPERANZA,0,0,117.177865,117.177865,48.768410,165.946275,30.768410
18,2023-06-20,ESPERANZA,0,0,109.778785,109.778785,48.768410,158.547195,30.768410
19,2023-06-21,ESPERANZA,0,0,109.778785,109.778785,36.914854,146.693640,18.914854
20,2023-06-22,ESPERANZA,0,0,109.778785,109.778785,30.768410,140.547195,30.768410
21,2023-06-23,ESPERANZA,0,0,112.245145,112.245145,48.768410,161.013555,30.768410
22,2023-06-24,ESPERANZA,0,0,71.934480,71.934480,48.002330,119.936810,30.768410
23,2023-06-25,ESPERANZA,0,0,44.394480,44.394480,48.768410,93.162890,30.768410
24,2023-06-26,ESPERANZA,0,0,116.328960,116.328960,30.768410,147.097370,30.768410
25,2023-06-27,ESPERANZA,0,0,121.261680,121.261680,30.768410,152.030090,30.768410
26,2023-06-28,ESPERANZA,0,0,121.261680,121.261680,36.914854,158.176534,18.914854
27,2023-06-29,ESPERANZA,0,0,93.721680,93.721680,40.399130,134.120810,30.768410
28,2023-06-30,ESPERANZA,0,0,93.721680,93.721680,48.768410,142.490090,30.768410

In [22]:
df_plan2['fecha'] = df_tesoro['fecha']
df_plan2['rajo'] = 'TESORO'
df_plan2['extraccion_mineral'] = 0
df_plan2['extraccion_oxidos_mixtos'] = 0
df_plan2['extraccion_lastre'] = df_tesoro['extraccion lastre']
df_plan2['total_extraccion'] = df_tesoro['total extraccion']
df_plan2['remanejo'] = df_tesoro['remanejo']
df_plan2['movimiento_total'] = df_tesoro['movimiento total']
df_plan2['chancado'] = df_tesoro['mineral a chancado']
df_plan2

,fecha,rajo,extraccion_mineral,extraccion_oxidos_mixtos,extraccion_lastre,total_extraccion,remanejo,movimiento_total,chancado
0,2023-06-02,TESORO,0,0,73.627200,73.627200,18.000000,91.627200,0.000000
1,2023-06-03,TESORO,0,0,76.867200,76.867200,18.000000,94.867200,0.000000
2,2023-06-04,TESORO,0,0,76.867200,76.867200,40.866040,117.733240,22.866040
3,2023-06-05,TESORO,0,0,75.337200,75.337200,38.582810,113.920010,30.768410
4,2023-06-06,TESORO,0,0,117.265320,117.265320,30.768410,148.033730,30.768410
5,2023-06-07,TESORO,0,0,117.265320,117.265320,30.768410,148.033730,30.768410
6,2023-06-08,TESORO,0,0,117.265320,117.265320,48.768410,166.033730,30.768410
7,2023-06-09,TESORO,0,0,117.265320,117.265320,37.104410,154.369730,30.768410
8,2023-06-10,TESORO,0,0,67.938120,67.938120,48.768410,116.706530,30.768410
9,2023-06-11,TESORO,0,0,93.721680,93.721680,48.768410,142.490090,30.768410
10,2023-06-12,TESORO,0,0,119.731680,119.731680,48.768410,168.500090,30.768410
11,2023-06-13,TESORO,0,0,121.261680,121.261680,48.768410,170.030090,30.768410
12,2023-06-14,TESORO,0,0,121.261680,121.261680,27.979932,149.241612,9.979932
13,2023-06-15,TESORO,0,0,119.731680,119.731680,48.768410,168.500090,30.768410
14,2023-06-16,TESORO,0,0,117.177865,117.177865,48.768410,165.946275,30.768410
15,2023-06-17,TESORO,0,0,76.867200,76.867200,30.768410,107.635610,30.768410
16,2023-06-18,TESORO,0,0,117.177865,117.177865,30.768410,147.946275,30.768410
17,2023-06-19,TESORO,0,0,117.177865,117.177865,48.768410,165.946275,30.768410
18,2023-06-20,TESORO,0,0,109.778785,109.778785,48.768410,158.547195,30.768410
19,2023-06-21,TESORO,0,0,109.778785,109.778785,36.914854,146.693640,18.914854
20,2023-06-22,TESORO,0,0,109.778785,109.778785,30.768410,140.547195,30.768410
21,2023-06-23,TESORO,0,0,112.245145,112.245145,48.768410,161.013555,30.768410
22,2023-06-24,TESORO,0,0,71.934480,71.934480,48.002330,119.936810,30.768410
23,2023-06-25,TESORO,0,0,44.394480,44.394480,48.768410,93.162890,30.768410
24,2023-06-26,TESORO,0,0,116.328960,116.328960,30.768410,147.097370,30.768410
25,2023-06-27,TESORO,0,0,121.261680,121.261680,30.768410,152.030090,30.768410
26,2023-06-28,TESORO,0,0,121.261680,121.261680,36.914854,158.176534,18.914854
27,2023-06-29,TESORO,0,0,93.721680,93.721680,40.399130,134.120810,30.768410
28,2023-06-30,TESORO,0,0,93.721680,93.721680,48.768410,142.490090,30.768410

In [23]:
df_plan3['fecha'] = df_encuentro['fecha']
df_plan3['rajo'] = 'ENCUENTRO'
df_plan3['extraccion_mineral'] = df_encuentro['extraccion mineral']
df_plan3['extraccion_oxidos_mixtos'] = 0
df_plan3['extraccion_lastre'] = df_encuentro['extraccion lastre']
df_plan3['total_extraccion'] = df_encuentro['total extraccion']
df_plan3['remanejo'] = df_encuentro['remanejo']
df_plan3['movimiento_total'] = df_encuentro['movimiento total']
df_plan3['chancado'] = df_encuentro['mineral a chancado']
df_plan3

,fecha,rajo,extraccion_mineral,extraccion_oxidos_mixtos,extraccion_lastre,total_extraccion,remanejo,movimiento_total,chancado
0,2023-06-02,ENCUENTRO,36.203813,0,68.949908,146.736493,4.228434,150.964926,38.468434
1,2023-06-03,ENCUENTRO,37.278666,0,87.624708,146.736493,4.348434,151.084926,38.468434
2,2023-06-04,ENCUENTRO,46.277208,0,92.843178,146.736493,2.838434,149.574927,38.468434
3,2023-06-05,ENCUENTRO,41.006098,0,90.682583,134.516629,0.000000,134.516629,37.671161
4,2023-06-06,ENCUENTRO,28.632677,0,101.139563,134.516629,0.000000,134.516629,19.019561
5,2023-06-07,ENCUENTRO,16.226774,0,100.755740,129.657377,17.538385,147.195762,33.134400
6,2023-06-08,ENCUENTRO,40.553511,0,104.346305,146.736493,0.000000,146.736493,38.468434
7,2023-06-09,ENCUENTRO,37.548933,0,102.869968,146.736493,3.188434,149.924926,38.468434
8,2023-06-10,ENCUENTRO,31.598341,0,105.515883,143.197217,9.148434,152.345651,38.468434
9,2023-06-11,ENCUENTRO,16.552178,0,111.997851,146.736493,24.218434,170.954926,38.468434
10,2023-06-12,ENCUENTRO,0.000000,0,112.109494,146.736493,38.468434,185.204926,38.468434
11,2023-06-13,ENCUENTRO,18.659766,0,101.672752,140.490147,2.487068,142.977215,20.837068
12,2023-06-14,ENCUENTRO,10.674054,0,110.571062,142.337547,27.671161,170.008708,37.671161
13,2023-06-15,ENCUENTRO,19.807305,0,92.114038,142.337547,14.384400,156.721947,33.134400
14,2023-06-16,ENCUENTRO,18.768218,0,75.347633,142.337547,20.326161,162.663708,37.671161
15,2023-06-17,ENCUENTRO,22.309488,0,89.555968,140.099570,18.836434,158.936004,38.468434
16,2023-06-18,ENCUENTRO,15.311145,0,101.529528,140.099570,24.088434,164.188004,38.468434
17,2023-06-19,ENCUENTRO,8.587620,0,104.530748,140.099570,29.978434,170.078004,38.468434
18,2023-06-20,ENCUENTRO,1.402577,0,126.516325,140.099570,38.468434,178.568004,38.468434
19,2023-06-21,ENCUENTRO,0.000000,0,107.441233,136.072868,38.468434,174.541302,38.468434
20,2023-06-22,ENCUENTRO,0.000000,0,108.665808,138.252170,38.468434,176.720604,38.468434
21,2023-06-23,ENCUENTRO,0.000000,0,124.357304,138.252170,29.975657,168.227827,29.975657
22,2023-06-24,ENCUENTRO,0.000000,0,124.934173,144.498516,38.468434,182.966950,38.468434
23,2023-06-25,ENCUENTRO,2.504287,0,126.437616,146.736493,38.468434,185.204926,38.468434
24,2023-06-26,ENCUENTRO,13.180529,0,99.857214,142.337547,37.671161,180.008708,37.671161
25,2023-06-27,ENCUENTRO,18.428432,0,82.480937,130.493285,0.000000,130.493285,0.000000
26,2023-06-28,ENCUENTRO,17.286672,0,89.311279,136.364029,0.000000,136.364029,0.000000
27,2023-06-29,ENCUENTRO,11.824663,0,96.003004,136.364029,0.000000,136.364029,0.000000
28,2023-06-30,ENCUENTRO,18.255846,0,103.423701,140.563583,25.114107,165.677691,25.114107

In [24]:
df_plan4['fecha'] = df_esp_sur['fecha']
df_plan4['rajo'] = 'ESPERANZA_SUR'
df_plan4['extraccion_mineral'] = df_esp_sur['extraccion mineral']
df_plan4['extraccion_oxidos_mixtos'] = df_esp_sur['oxido y mixtos']
df_plan4['extraccion_lastre'] = df_esp_sur['extraccion lastre']
df_plan4['total_extraccion'] = df_esp_sur['total extraccion']
df_plan4['remanejo'] = df_esp_sur['remanejo']
df_plan4['movimiento_total'] = df_esp_sur['movimiento total']
df_plan4['chancado'] = df_esp_sur['mineral a chancado']
df_plan4

,fecha,rajo,extraccion_mineral,extraccion_oxidos_mixtos,extraccion_lastre,total_extraccion,remanejo,movimiento_total,chancado
0,2023-06-02,ESPERANZA_SUR,0.000000,50.000001,91.847244,141.847245,80.0,221.847245,40.0
1,2023-06-03,ESPERANZA_SUR,0.000000,63.500001,72.838865,136.338866,60.0,196.338866,60.0
2,2023-06-04,ESPERANZA_SUR,0.000000,83.869571,77.305871,161.175442,0.0,161.175442,60.0
3,2023-06-05,ESPERANZA_SUR,0.000000,76.121968,83.791525,159.913493,60.0,219.913493,60.0
4,2023-06-06,ESPERANZA_SUR,0.000000,87.351311,47.785399,135.136710,0.0,135.136710,60.0
5,2023-06-07,ESPERANZA_SUR,10.599522,25.196605,124.878641,160.674768,0.0,160.674768,0.0
6,2023-06-08,ESPERANZA_SUR,0.000000,43.097130,111.307917,154.405047,24.0,178.405047,0.0
7,2023-06-09,ESPERANZA_SUR,0.000000,39.420854,110.929280,150.350134,30.0,180.350134,60.0
8,2023-06-10,ESPERANZA_SUR,0.000000,56.668027,67.866770,124.534797,0.0,124.534797,60.0
9,2023-06-11,ESPERANZA_SUR,0.000000,63.000005,76.763025,139.763031,0.0,139.763031,45.0
10,2023-06-12,ESPERANZA_SUR,15.013736,66.431007,41.171198,122.615941,0.0,122.615941,45.0
11,2023-06-13,ESPERANZA_SUR,0.000000,102.296712,57.112162,159.408874,45.0,204.408874,0.0
12,2023-06-14,ESPERANZA_SUR,0.000000,84.652479,79.695797,164.348276,60.0,224.348276,60.0
13,2023-06-15,ESPERANZA_SUR,0.000000,101.232726,58.321641,159.554367,30.0,189.554367,60.0
14,2023-06-16,ESPERANZA_SUR,0.000000,52.090632,116.117257,168.207889,40.0,208.207889,60.0
15,2023-06-17,ESPERANZA_SUR,0.000000,0.000000,107.584157,107.584157,15.0,122.584157,0.0
16,2023-06-18,ESPERANZA_SUR,0.000000,0.000000,110.403371,110.403371,0.0,110.403371,0.0
17,2023-06-19,ESPERANZA_SUR,0.000000,66.296367,89.397124,155.693491,0.0,155.693491,45.0
18,2023-06-20,ESPERANZA_SUR,0.000000,95.298034,63.399028,158.697062,0.0,158.697062,45.0
19,2023-06-21,ESPERANZA_SUR,0.000000,116.200013,43.711087,159.911100,0.0,159.911100,60.0
20,2023-06-22,ESPERANZA_SUR,0.000000,121.000009,40.081134,161.081143,20.0,181.081143,40.0
21,2023-06-23,ESPERANZA_SUR,0.000000,123.422203,34.955550,158.377754,0.0,158.377754,40.0
22,2023-06-24,ESPERANZA_SUR,0.000000,99.346304,60.804038,160.150342,0.0,160.150342,60.0
23,2023-06-25,ESPERANZA_SUR,0.000000,119.582098,36.170560,155.752658,0.0,155.752658,45.0
24,2023-06-26,ESPERANZA_SUR,0.000000,119.729416,39.479002,159.208418,0.0,159.208418,45.0
25,2023-06-27,ESPERANZA_SUR,0.000000,118.297003,38.178254,156.475257,0.0,156.475257,45.0
26,2023-06-28,ESPERANZA_SUR,0.000000,0.000000,152.946622,152.946622,45.0,197.946622,0.0
27,2023-06-29,ESPERANZA_SUR,0.000000,0.000000,152.163730,152.163730,45.0,197.163730,0.0
28,2023-06-30,ESPERANZA_SUR,0.000000,0.000000,154.150476,154.150476,25.0,179.150476,0.0

In [25]:
df_plan5['fecha'] = df_llano['fecha']
df_plan5['rajo'] = 'LLANO'
df_plan5['extraccion_mineral'] = 0
df_plan5['extraccion_oxidos_mixtos'] = 0
df_plan5['extraccion_lastre'] = df_llano['extraccion lastre']
df_plan5['total_extraccion'] = df_llano['total extraccion']
df_plan5['remanejo'] = 0
df_plan5['movimiento_total'] = df_llano['movimiento total']
df_plan5['chancado'] = 0
df_plan5

,fecha,rajo,extraccion_mineral,extraccion_oxidos_mixtos,extraccion_lastre,total_extraccion,remanejo,movimiento_total,chancado
0,2023-06-02,LLANO,0,0,73.627200,73.627200,0,73.627200,0
1,2023-06-03,LLANO,0,0,76.867200,76.867200,0,76.867200,0
2,2023-06-04,LLANO,0,0,76.867200,76.867200,0,76.867200,0
3,2023-06-05,LLANO,0,0,75.337200,75.337200,0,75.337200,0
4,2023-06-06,LLANO,0,0,117.265320,117.265320,0,117.265320,0
5,2023-06-07,LLANO,0,0,117.265320,117.265320,0,117.265320,0
6,2023-06-08,LLANO,0,0,117.265320,117.265320,0,117.265320,0
7,2023-06-09,LLANO,0,0,117.265320,117.265320,0,117.265320,0
8,2023-06-10,LLANO,0,0,67.938120,67.938120,0,67.938120,0
9,2023-06-11,LLANO,0,0,93.721680,93.721680,0,93.721680,0
10,2023-06-12,LLANO,0,0,119.731680,119.731680,0,119.731680,0
11,2023-06-13,LLANO,0,0,121.261680,121.261680,0,121.261680,0
12,2023-06-14,LLANO,0,0,121.261680,121.261680,0,121.261680,0
13,2023-06-15,LLANO,0,0,119.731680,119.731680,0,119.731680,0
14,2023-06-16,LLANO,0,0,117.177865,117.177865,0,117.177865,0
15,2023-06-17,LLANO,0,0,76.867200,76.867200,0,76.867200,0
16,2023-06-18,LLANO,0,0,117.177865,117.177865,0,117.177865,0
17,2023-06-19,LLANO,0,0,117.177865,117.177865,0,117.177865,0
18,2023-06-20,LLANO,0,0,109.778785,109.778785,0,109.778785,0
19,2023-06-21,LLANO,0,0,109.778785,109.778785,0,109.778785,0
20,2023-06-22,LLANO,0,0,109.778785,109.778785,0,109.778785,0
21,2023-06-23,LLANO,0,0,112.245145,112.245145,0,112.245145,0
22,2023-06-24,LLANO,0,0,71.934480,71.934480,0,71.934480,0
23,2023-06-25,LLANO,0,0,44.394480,44.394480,0,44.394480,0
24,2023-06-26,LLANO,0,0,116.328960,116.328960,0,116.328960,0
25,2023-06-27,LLANO,0,0,121.261680,121.261680,0,121.261680,0
26,2023-06-28,LLANO,0,0,121.261680,121.261680,0,121.261680,0
27,2023-06-29,LLANO,0,0,93.721680,93.721680,0,93.721680,0
28,2023-06-30,LLANO,0,0,93.721680,93.721680,0,93.721680,0

In [26]:
df_concatenado = pd.concat([df_plan1, df_plan2, df_plan3, df_plan4, df_plan5])
df_concatenado

,fecha,rajo,extraccion_mineral,extraccion_oxidos_mixtos,extraccion_lastre,total_extraccion,remanejo,movimiento_total,chancado
0,2023-06-02,ESPERANZA,0.0,0.0,73.62720,73.62720,18.00000,91.62720,0.00000
1,2023-06-03,ESPERANZA,0.0,0.0,76.86720,76.86720,18.00000,94.86720,0.00000
2,2023-06-04,ESPERANZA,0.0,0.0,76.86720,76.86720,40.86604,117.73324,22.86604
3,2023-06-05,ESPERANZA,0.0,0.0,75.33720,75.33720,38.58281,113.92001,30.76841
4,2023-06-06,ESPERANZA,0.0,0.0,117.26532,117.26532,30.76841,148.03373,30.76841
...,...,...,...,...,...,...,...,...,...
24,2023-06-26,LLANO,0.0,0.0,116.32896,116.32896,0.00000,116.32896,0.00000
25,2023-06-27,LLANO,0.0,0.0,121.26168,121.26168,0.00000,121.26168,0.00000
26,2023-06-28,LLANO,0.0,0.0,121.26168,121.26168,0.00000,121.26168,0.00000
27,2023-06-29,LLANO,0.0,0.0,93.72168,93.72168,0.00000,93.72168,0.00000
28,2023-06-30,LLANO,0.0,0.0,93.72168,93.72168,0.00000,93.72168,0.00000

In [27]:
df_concatenado['fecha'] = pd.to_datetime(df_concatenado['fecha'])
df_concatenado.dtypes

fecha                       datetime64[ns]
rajo                                object
extraccion_mineral                 float64
extraccion_oxidos_mixtos           float64
extraccion_lastre                  float64
total_extraccion                   float64
remanejo                           float64
movimiento_total                   float64
chancado                           float64
dtype: object

In [28]:
df_concatenado.set_index('fecha', inplace=True)

Finalmente cargamos a la base de datos

In [29]:
engine = sqlalchemy.create_engine('postgresql://postgres:admin@localhost:5432/DBextracciones')

In [30]:
df_concatenado.to_sql('datos_plan', engine, if_exists='append')

145